/* .floting-icon{
    position: fixed;
    z-index: 9;
    left: 0;
    padding: 0.6% 1.4%;
    top: 70%;
    border: 1px solid green;
    background: green;
    color: #fff;
}
.floting-icon-f{
    position: fixed;
    z-index: 9;
    left: 0;
    padding: 0.6% 1.4%;
    top: 57%;
    border: 1px solid #0a3d73;
    background: #0a3d73;
    color: #fff;
}

.floting-icon-f:hover{
    transform: scaleX(1.2);
    transition-delay: 0.5s;
} */

#gotoTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
    padding: 1% 1.3%;
    border-radius: 64px;
}

#gotoTop:hover {
    color: rgba(255, 0, 0);
}

img:focus,
div:focus {
    outline: none;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 6px;
    transition: all 0.3s ease;
    color: white;
    font-size: 12px;
}

.icon-bar a:hover {
    background: #000;
    color: #fff !important;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #58e870;
    color: white;
}

.linkedin {
    background: radial-gradient(circle at -24% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}

@media (max-width: 700px) and (min-width:200px) {
    .icon-bar a {
        padding: 6px;
        font-size: 12px;
        z-index: 1;
    }
    .icon-bar {
        z-index: 1;
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding: 0 15px;  */
    padding-top: 60px !important;
    box-shadow: 7px -1px 12px 3px;
}

#overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #000;
    overflow-x: hidden;
    opacity: 0.6;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    /* padding: 16px; */
}
