<!-- header -->
<!-- <div class="main-banner">
    <div class="row">
        <div class=" mr-1 col-12 col-sm-12 col-xl-12 col-md-12 col-lg-12 ">
            <div class="col-2 col-sm-2 col-xl-2 col-md-2 col-lg-2 float-left logo">
                <img src="../../assets/image/logo.png" alt="" class="img-fluid" srcset="" />
            </div>
            <div class="col-2 col-sm-2 col-xl-2 col-md-2 col-lg-2 float-left mr-t-1 mr-l-1o">
                <select class="form-control city_select">
                    <option>Ahmedabad</option>
                    <option>Surat</option>
                    <option>Rajkot</option>
                </select>

                <div class="">

                </div>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Contact</a></li>
    <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div> -->
<header>
    <nav style="z-index: 2;">
        <div class="menu-icon">
            <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo" [routerLink]="['/']" style="z-index: 3;">
            <img src="../../assets/image/wediina-logo.png" class="img-fluid" />
        </div>

        <div class="menu">
            <div class=" city-box city-menu" style="z-index: -1%;">
                <button (click)="openNav()" style="font-weight: 660 !important;" class=" form-control">
                    <label>Filter</label>  &nbsp; <i class="fa fa-filter"></i>
            </button>

                <!-- <input type="submit" (click)="openNav()" value="Filter"
                    style="font-weight: 660 !important;" class=" form-control" /> -->
                <!-- <datalist id="city">
                    <option selected disabled>City</option>
                    <option *ngFor="let c of cityarray" value="{{c.city}}">{{c.city}}</option>
                </datalist> -->
                <!-- <input type="submit" (click)="openNav()" value=""> &nbsp; <i class="fa fa-filter"></i></lab> -->
                <!-- <select class="form-control  city_select_menu" id="exampleFormControlSelect1">
                    <option>Rajkot</option>
                    <option>Surat</option>
                    <option>Ahmedabad</option>
                    <option>Vadodra</option>
                </select> -->
            </div>
            <ul>
                <li><a href="JavaScript:Void(0);" [routerLink]="['/']">Home</a></li>
                <li class="subnav"><a href="JavaScript:Void(0);" class="subnavbtn">Vendor</a>
                    <ul class="subnav-content menu_ul" style="padding: 0;">
                        <li *ngFor="let ve of vendorCategory"><a href="JavaScript:Void(0);" [routerLinkActive]="['active_menu']" [routerLink]="['/vendors',ve._id]">{{ve.vendor_cat_name}}</a></li>
                        <!-- <li></li> -->
                        <li class="menu_bottom" [routerLinkActive]="['active_menu']" [routerLink]="['/PremiumPhotographer']"><a style="" class="premium-pk" href="JavaScript:Void(0);">Prime Photographers </a></li>
                    </ul>
                </li>
                <li class="subnav"><a href="JavaScript:Void(0);" class="subnavbtn">Venues</a>
                    <ul class="subnav-content">
                        <li *ngFor="let ve of venueCategory"><a href="JavaScript:Void(0);" [routerLinkActive]="['active_menu']" [routerLink]="['/Venues',ve._id]">{{ve.venue_cat_name}}</a></li>
                    </ul>
                </li>
                <li *ngIf="user==false"><a href="javascript:void(0)" (click)="userfetch()" class="user-icon"><i  class="fa fa-user"></i></a>
                </li>
                <li *ngIf="user==true">
                    <a href="javascript:void(0)" (click)="userfetch()" class="user-name">
                        <span>Hi, {{userName}}</span></a>
                </li>
                <!-- <li><a href="#" [routerLink]="['/login']">Login</a></li> -->
                <!-- <li><a href="javascript:void(0)" (click)="userfetch()" class="user-icon"><i class="fa fa-user"></i></a>
                </li> -->
            </ul>
        </div>
    </nav>
</header>
<div class="child-menu">

</div>
<!-- <div >
    <div class="floting-icon">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=919853225322&text="><i class="fa fa-whatsapp" style="color:#fff"></i>
            </a>
    </div>
    <div class="floting-icon-f">
            <a href="https://www.facebook.com/Wediina-The-wedding-solution-112484590156039/?ref=aymt_homepage_panel&eid=ARC0Rwow5ReVhuJdN5kip9hL41ULNOMWDYr7sR10CBptE3rOpe6pocWkWwI2DaP3ppmBcJF6hhGZTyGU" target="_blank"><i class="fa fa-facebook " style="color:#fff;"> </i></a>
    </div>
</div> -->
<div class="icon-bar">
    <a title="facebook" href="https://www.facebook.com/Wediina-The-wedding-solution-112484590156039/?ref=aymt_homepage_panel&eid=ARC0Rwow5ReVhuJdN5kip9hL41ULNOMWDYr7sR10CBptE3rOpe6pocWkWwI2DaP3ppmBcJF6hhGZTyGU" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
    <a title="twitter" href="javascript:void(0);" class="twitter"><i class="fa fa-twitter"></i></a>
    <a title="whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=919853225322&text=" class="google"><i class="fa fa-whatsapp"></i></a>
    <a title="instagram" href="https://www.instagram.com/wediina_rajkot/" target="_blank" class="linkedin"><i class="fa fa-instagram"></i></a>

</div>
<button (click)="topFunction()" id="gotoTop" title="Go to top"><i class="fa fa-chevron-up"></i></button>

<!-- end header -->


<div id="overlay" (click)="closeNav()"></div>
<div id="mySidebarh" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <div class="form-group  " style="z-index: -1%;">

        <input type="text" list="state" name="calsit" (change)="getcityList(calsit)" [(ngModel)]="calsit" placeholder="State" style="font-weight: 660 !important;" class=" form-control" />
        <datalist id="state">
        <option selected disabled>State</option>
        <option *ngFor="let c of cityarray" data-value="{{c.state}}">{{c.state}}</option>
    </datalist>
        <!-- <select class="form-control  city_select_menu" id="exampleFormControlSelect1">
        <option>Rajkot</option>
        <option>Surat</option>
        <option>Ahmedabad</option>
        <option>Vadodra</option>
    </select> -->
    </div>
    <br />
    <br />

    <div class="form-group " style="z-index: -1%;">

        <input type="text" list="city" name="ca" (change)="getcityName(ca)" [(ngModel)]="ca" placeholder="City" style="font-weight: 660 !important;" class=" form-control" />
        <datalist id="city">
        <option selected disabled>City</option>
        <option *ngFor="let c of distArray" data-value="{{c}}">{{c}}</option>


    </datalist>

    </div>


    <div class="form-group " style="z-index: -1%;">

        <input type="text" list="Category" name="cat" (change)="getcategory(cat)" [(ngModel)]="cat" placeholder="Select Category" style="font-weight: 660 !important;" class=" form-control" />
        <datalist id="Category">
        <option selected disabled>Select Category</option>
        <option  id="vendor" value="vendor"></option>
        <option  id ="venue" value="venue"></option>


    </datalist>

    </div>


    <div class="form-group " *ngIf="vendorDropdown" style="z-index: -1%;">

        <!-- <input type="text" list="vendorcat" name="vendorcat" (change)="routeVendor(vendorcat)" [(ngModel)]="vendorcat" placeholder="vendor Category" style="font-weight: 660 !important;" class=" form-control" /> -->
        <select id="vendorcat" (change)="routeVendor($event)" style="font-weight: 660 !important;" class=" form-control">
        <option selected disabled>vendors Category</option>
        <!-- <option *ngFor="let c of vendorCategory" value="{{c}}">{{c}.vendor_cat_name}</option> -->
        <option *ngFor="let c of vendorCategory" value="{{c._id}}">{{c.vendor_cat_name}}</option>


    </select>

    </div>
    <!--
    <div class="form-group " *ngIf="vendorDropdown" style="z-index: -1%;">

        <input type="text" list="vendors" name="vendors" (change)="routeVendordetail(vendors)" [(ngModel)]="vendors" placeholder="vendors" style="font-weight: 660 !important;" class=" form-control" />
        <datalist id="vendors">
        <option selected disabled>vendors</option>
        <option *ngFor="let c of vendor" data-value="{{c._id}}">{{c.companyName}}</option>

    </datalist>

    </div> -->

    <div class="form-group " *ngIf="venueDropdown" style="z-index: -1%;">

        <!-- <input type="text" list="Venuescat" name="venuescat" (change)="routeVenueCat(venuescat)" [(ngModel)]="venuescat" placeholder="Venue Category" style="font-weight: 660 !important;" class=" form-control" /> -->
        <select id="Venuescat" (change)="routeVenueCat($event)" style="font-weight: 660 !important;" class=" form-control">
        <option selected disabled>Venues Category</option>
        <option *ngFor="let c of venueCategory" value="{{c._id}}">{{c.venue_cat_name}}</option>
    </select>

    </div>

    <!-- <div class="form-group " *ngIf="venueDropdown" style="z-index: -1%;">

        <input type="text" list="Venues" name="venues" (change)="routeVenuedetail(venues)" [(ngModel)]="venues" placeholder="Venue Category" style="font-weight: 660 !important;" class=" form-control" />
        <datalist id="Venues">
        <option selected disabled>Venues</option>
        <option *ngFor="let c of

























        " data-value="{{c._id}}">{{c.companyName}}</option>
    </datalist>

    </div> -->

    <br />
    <br />
    <br />
    <div class="">
        <div class="row " *ngIf="venueDropdown" style="z-index: -1%;">
            <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-xs-12 float-left   mr-b-1" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" *ngFor="let v of venuesgrind" data-aos-delay="300" data-aos-offset="0">
                <a [routerLink]="['/VenueDetail',v._id]">
                    <div class="card" style="border: none;">
                        <img src="{{v.image}}" class="card-img-top" style="height: 100px;">
                        <div class=" " style="font-size: 12px; padding: 2px;">
                            <a style="font-size: 12px; padding: 0;">{{v.companyName}}</a>

                        </div>
                    </div>
                </a>
            </div>
            <!-- <input [(ngModel)]="searchText" placeholder="search"> -->
            <!-- <div *ngFor="let v of venues | search:'companyName':searchText">{{v.companyName}}</div> -->

        </div>
        <div *ngIf="venueDropdown && venuesgrind.length == 0" style="color: brown; text-align: center;">No record Found</div>
        <div *ngIf="vendorDropdown && vendor.length == 0" style="color: brown;   text-align: center;">No record Found</div>
        <div class="row " *ngIf="vendorDropdown" style="z-index: -1%;">
            <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-xs-12 float-left   mr-b-1" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" *ngFor="let v of vendor" data-aos-delay="300" data-aos-offset="0">
                <a [routerLink]="['/VenderDetail',v._id]">
                    <div class="card" style="border: none;">
                        <img src="{{v.image}}" class="card-img-top" style="height: 100px;">
                        <div class=" " style="font-size: 12px; padding: 2px;">
                            <a style="font-size: 12px; padding: 0;">{{v.companyName}}</a>

                        </div>
                    </div>
                </a>
            </div>
            <!-- <input [(ngModel)]="searchText" placeholder="search"> -->
            <!-- <div *ngFor="let v of venues | search:'companyName':searchText">{{v.companyName}}</div> -->

        </div>
    </div>
    <!-- </div> -->
</div>
