<div class="wapper blak text-center">
    <div class="footer" style="
    width: 100%;
    bottom: 0;">
        <div class="text-center">
            All rights reserved by Wediina.com
        <br/>
            Design and Developed by <a target="_blank" class="footer-link" href="http://globalbits.in/"> Globalbits Technology</a>
        </div>
    </div>

</div>