<!-- <app-header></app-header> -->
<!-- <ngx-spinner
bdOpacity = 0.9
bdColor = "#fff"
size = "large"
color = "#000000"
type = "ball-clip-rotate"
[fullScreen] = "true"
>
</ngx-spinner> -->
<app-header></app-header>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#fff"
[fullScreen] = "true"
>
<img src="../../assets/image/animated_loader.gif" class="img-fluid "  id="slidecaption"/>

<!-- <img src="../../assets/image/loading.png" class="img-fluid "  id="slidecaption"/> -->
<!-- <p style="color: white" > Loading... </p> -->
</ngx-spinner>

<section id="home" class="top_cont_outer contanier">
    <div class="top_cont_inner">
        <div class="">
            <div class="top_content pad-0">
                <carousel [interval]=2000 [showIndicators]="false" [noPause]="false">
                    <slide class="fadding">
                        <img class="background-img r-h-27vh" src="../../assets/image/page_slide.jpg" style="width: 100%;" />
                        <div class="slide_text">
                            Registration
                        </div>
                    </slide>

                </carousel>
                <div class=" center">
                    <div class="col-8 mx-auto col-lg-8  col-md-8 col-xl-8 col-xs-8 r_greeting_format ">
                        <p class="text-center">
                            <b class="greeting_head">List your Business</b>
                            <br /> We are provide you largest platform to grow your
                            business in this industry
                            <br />by partnering with us</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center pad-t-2">
        <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-xs-4 float-left">
            <div class="card border-none text-center">
                <div class="how-work-icon ">
                    <img src="../../assets/image/icon/home_discover.png" class="img-fluid" />
                </div>
                <div class="how-work-title"> Partnership with us </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-xs-4 float-left">
            <div class="card border-none text-center">
                <div class="how-work-icon ">
                    <img src="../../assets/image/icon/home_discover.png" class="img-fluid" />
                </div>
                <div class="how-work-title">build your business in new way </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 col-md-4 col-xl-4 col-xs-4 float-left">
            <div class="card border-none text-center">
                <div class="how-work-icon ">
                    <img src="../../assets/image/icon/home_discover.png" class="img-fluid" />
                </div>
                <div class="how-work-title"> get increase your business </div>
            </div>
        </div>
    </div>
</section>
<!-- form section -->
<div class="col-lg-12 text-center signupTitle mr-t-17">
    Already Registered?<b class="text-danger" [routerLink]="['/login']" > Sign In </b>
    <br />Or
    <br />Fill In The Form Below To Get Started
</div>
<div>
        <div class="col-12 col-lg-12 col-md-12 col-xl-12 text-center mr-t-5">
                <div class="col-3 col-lg-3 col-md-3 col-xl-3 float-left mr-l-13 r_head" [routerLink]="['/register']">
                    Customer
                </div>
                <div class="col-3 col-lg-3 col-md-3 col-xl-3 float-left  r_head" [routerLink]="['/venueRegister']">
                    Venues
                </div>
                <div class="col-3 col-lg-3 col-md-3 col-xl-3 float-left back_red r_head" [routerLink]="['/VenderRegister']">
                    Vendor
                </div>
        
            </div>
    <div class="col-lg-12 mx-auto">
        <form id="Vender" #frm1="ngForm" (ngSubmit)="Venderadd()">
            <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4  r_l_form mr-l-17 mob_mr_l_0 pad-6 float-left ">
                <div class="form-group">
                    <label for="exampleFormControlSelect1" class="">Vendor Category</label><span
                        class="text-danger">*</span>
                    <select class="form-control form_control_m" name="catvalue" [(ngModel)]="catvalue"  #selected="ngModel" required id="exampleFormControlSelect1">
                        <option *ngFor="let vc of vendorCategory" value="{{vc._id}}">{{vc.vendor_cat_name}}</option>
                       
                    </select>
                    <div *ngIf="selected?.touched">
                        <div class="red-text left" *ngIf="selected.errors?.required">
                            Please select your category*
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fname" class="">Company Name</label><span class="text-danger">*</span>
                    <input type="text" class="form-control form_control_m" name="cname" [(ngModel)]="cname" #cnm="ngModel" required id="fname" placeholder="Compnay Name">
                    <div *ngIf="cnm?.touched">
                        <div class="red-text left" *ngIf="cnm.errors?.required">
                            Please Enter your Company Name*
                        </div>

                    </div>
                
                </div>
                <div class="form-group">
                    <label for="fname" class="">First Name</label><span class="text-danger">*</span>
                    <input type="text" class="form-control form_control_m" name="fname" [(ngModel)]="fname" #fnm="ngModel" required id="fname" placeholder="Your Name">
                    <div *ngIf="fnm?.touched">
                        <div class="red-text left" *ngIf="fnm.errors?.required">
                            Please Enter your Name *
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="fname" class="">Last Name</label><span class="text-danger">*</span>
                    <input type="text" class="form-control form_control_m" name="lname" [(ngModel)]="lname" #fnm2="ngModel" required id="fname" placeholder="Your Name">
                    <div *ngIf="fnm2?.touched">
                        <div class="red-text left" *ngIf="fnm2.errors?.required">
                            Please Enter your Name *
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="fname" class="">contact No.</label><span class="text-danger">*</span>
                    <input type="text" minlength="10" maxlength="10" #mobile="ngModel"
                    pattern="[0-9]+" required ngModel  name="mno" [(ngModel)]="mno"  class="form-control form_control_m" id="mobile" placeholder="Contact No.">
                    <div *ngIf="mobile?.touched">
                        <div class="red-text left" *ngIf="mobile.errors?.required">
                          Contact Number Required*
                        </div>
                        <div [hidden]="!mobile?.hasError('minlength')" class="red-text">
                          Please enter valid Contact Number
                        </div>
                      </div>
                </div>

                <div class="form-group">
                    <label for="fname" class="">Email</label><span class="text-danger">*</span>
                    <input type="email" class="form-control form_control_m" name="email" #mail="ngModel"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required [(ngModel)]="email" id="fname" placeholder="Email">
                    <div *ngIf="mail?.touched">
                        <div class="red-text left" *ngIf="mail.errors?.required">
                            Email Required*
                        </div>
                        <div class="red-text left" *ngIf="mail.errors?.pattern">
                            Please Enter valid Email*
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4 pad-b-8 r_r_form float-left ">
                

                <div class="form-group">
                    <label for="exampleFormControlSelect1" class="">City</label><span
                        class="text-danger">*</span>
                    <select class="form-control form_control_m" name="city" #cityname="ngModel" required [(ngModel)]="city" id="exampleFormControlSelect1">
                        <option selected="Select" disabled>Select</option>
                        <option *ngFor="let c of cityarray"value="{{c.city}}">{{c.city}}</option>
                    </select>
                    <div *ngIf="cityname?.touched">
                        <div class="red-text left" *ngIf="cityname.errors?.required">
                          City Required*
                        </div>
                      </div>
                </div>
                <div class="form-group">
                    <label for="fname" class=" ">Password</label><span class="text-danger">*</span>
                    <input type="password" name="password" [(ngModel)]="password"  minlength="6" #pwd="ngModel" required 
                    class="form-control form_control_m" id="fname" placeholder="password">
                    <div *ngIf="pwd?.touched">
                        <div class="red-text left" *ngIf="pwd.errors?.required">
                            please Set your password*
                        </div>
                        <div [hidden]="!pwd?.hasError('minlength')" class="red-text">
                            Please set your password min 6 character
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fname" class=" "> Confirm Password</label><span class="text-danger">*</span>
                    <input type="password" name="cpwd" [(ngModel)]="cpwd" 
                     minlength="6" #cpawd="ngModel" required 
                    class="form-control form_control_m" id="fname" placeholder="Confirm Password">
                    <div *ngIf="cpawd?.touched">
                        <div class="red-text left" *ngIf="cpawd.errors?.required">
                            confirm password requier*
                        </div>
                        <div [hidden]="!cpawd?.hasError('minlength')" class="red-text">
                            Please set your password min 6 character
                        </div>
                        {{error}}
                    </div>
                </div>

                <div class="form-group">
                    <label for="fname" class="">Comments</label><span class="text-danger">*</span>
                    <textarea placeholder="Extra Note" cols="50" name="cmt"  #comment="ngModel" required  [(ngModel)]="cmt" rows="5" class="f-text-area form_control_m"></textarea>
                    <div *ngIf="comment?.touched">
                        <div class="red-text left" *ngIf="comment.errors?.required">
                            please Set your password*
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-12  col-md-12 col-xl-12 mx-auto mr-t-9">
                    <input type="submit" [disabled]="frm1.invalid" value="Submit" class="btn btn-success">
                </div>

            </div>

        </form>
    </div>
</div>

<!-- form section -->
<!-- <div class="mr-t-42">
    <app-footer></app-footer>
</div> -->