<app-header></app-header>
<section id="home" class="top_cont_outer contanier">
    <!-- <ngx-spinner
    bdOpacity = 0.9
    bdColor = "#fff"
    size = "large"
    color = "#000000"
    type = "ball-clip-rotate"
    [fullScreen] = "true"
    >
    </ngx-spinner> -->
    
    <ngx-spinner
    bdOpacity = 0.9
    bdColor = "#fff"
    [fullScreen] = "true"
    >
<img src="../../assets/image/animated_loader.gif" class="img-fluid "  id="slidecaption"/>

    <!-- <img src="../../assets/image/loading.png" class="img-fluid "  id="slidecaption"/> -->
    <!-- <p style="color: white" > Loading... </p> -->
    </ngx-spinner>
    
    
    <div class="top_cont_inner">
    <div class="">
      <div class="top_content pad-0">
        <carousel [interval]=2000 [showIndicators]="false" [noPause]="false">
          <slide class="fadding r-h-27vh">
            <img class="background-img r-h-27vh " src="{{mainimg}}" />
            <!-- <div class="slide_text prime_slide_text" style="left:25%;">
              Prime Photographer
            </div> -->
          </slide>

        </carousel>
        <div class="inner-part center">
          <div class="col-8 mx-auto col-lg-8  col-md-8 col-xl-8 col-xs-8 r_greeting_format ">
            <p class="text-center">
                
              <b class="greeting_head">Store your Memory With Click On {{companyName}}</b></p>
              <hr class="title">
         
            </div>
        </div>
        <div class="row justify-content-center center inner-part " style="margin-right:0 !important; margin-top: -5%;">
            <!-- <star-rating [starType]="'svg'" [rating]="5"></star-rating>    -->
            <div class="col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12  float-left">
              <!-- <b>Filter</b>  -->
              <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4 text-center float-left">  
                  <!-- <div class="form-group" style="margin-left: 21%;"> -->
                      <!-- <input type="date" placeholder="Your Date" style="width: 75% !important;" class=" form-control inquery_btn" /> -->
                      <my-date-picker name="booking" [(ngModel)]="booking" [placeholder]="placeholder"   [options]="myDatePickerOptions" [(ngModel)]="booking"  
                      style="margin-left: -2%;" 
                      (dateChanged)="datefilter($event)" required></my-date-picker>
      
                    <!-- </div> -->
                <a href="" class="btn btn-success inquery_btn"><i class="fa fa-map-marker"></i> &nbsp;&nbsp;&nbsp; Location</a>
              
            </div>
           
            <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4 float-left text-center">
                <a href="{{weblink}}" class="website_link" target="_blank" >Go to Our Website</a>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 col-md-4 col-xl-4 text-center float-right">
                <button data-toggle="modal" data-target="#review" class="btn btn_danger inquery_btn mob_btn_pos mob_l_m_28 ">Add
                    Review</button>
                    <button class=" btn btn_danger mob_btn_pos inquery_btn" data-toggle="modal" data-target="#sendInquiry">Send
                        Inquery</button>
            </div>
            </div>
            <div class="row "> 
                <div class="col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 mr-b-4 float-left">
                 
                 <span class='star-rating'>
                    <ng-container *ngIf='!sforDisplay'>
                      <i *ngFor='let n of range; let $index = index;' class='fa to-rate' [ngClass]='sisMarked($index)'></i>
                    </ng-container>
                    <ng-container *ngIf='sforDisplay'>
                      <i *ngFor='let n of range; let $index = index;' class="to-display fa" [ngClass]='sisMarked($index)'></i>
                    </ng-container>                  
                </span>
                  <!-- <div class="star-rating">
                        <span class="fa fa-star-o"  data-rating="1"></span>
                        <span class="fa fa-star-o"  data-rating="2"></span>
                        <span class="fa fa-star-o"  data-rating="3"></span>
                        <span class="fa fa-star-o"  data-rating="4"></span>
                        <span class="fa fa-star-o"  data-rating="5"></span>
                        <input type="hidden" name="whatever1" class="rating-value" value="3">
                      </div> -->
      
                </div>
            </div>
             
          <!-- <div class="col-12 mx-auto col-lg-12  col-md-12 col-xl-12 col-xs-12 r_greeting_format ">
                <div *ngFor="let vcat of venueCategory" class="text-center col-3 mx-auto col-lg-3  col-md-3 col-xl-3 col-xs-3 float-left">
               <b class="cat" (click)="getcategoryId(vcat._id)">{{vcat.venue_cat_name}}</b>
              </div>
             -->
                
                   
              <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="inner-part">
  <div>
      <div class="home-second-hedding">Our Video Story
                    
        </div>
        <hr class="title">
  </div>
    <div class="row ">
      
      <div  *ngFor="let v of videoArray; let i=index;" class="col-6 col-lg-3 col-md-3 col-xl-3 col-xs-12 float-left venues mr-b-4 venue-grid" data-toggle="modal" data-target=".video_modal">
        <div class="venue-card">
            <img src="http://img.youtube.com/vi/{{v.image}}/hqdefault.jpg" (click)="getvideo(v.link)"  class="grid_img"  />
           
            <div>

            </div>
          </div>
        
      </div>
      
    </div>
</section>

<section class="inner-part">
    <div>
        <div class="home-second-hedding">Our Photogaphy
                      
          </div>
          <hr class="title">
    </div>
      <div class="row ">
        
        <div *ngFor="let photo of sub_images" class="col-6 col-lg-3 col-md-3 col-xl-3 col-xs-12 float-left venues mr-b-4 venue-grid" >
          <div class="venue-card" data-toggle="modal" data-target=".bd-example-modal-lg">
              <img src="{{photo}}" class="grid_img" (click)="getimg(photo)"  />
             
              <div>
  
              </div>
            </div>
          
        </div>
        <!-- <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
          <div class="venue-card">
              <img src="../../assets/image/photographer/4efff61978857d2949e64b6001191009.jpg" class="grid_img"  />
             
              <div>
  
              </div>
            </div>
          
        </div>
        <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
          <div class="venue-card">
              <img src="../../assets/image/photographer/Happy Wedding HD Movie Stills Photo Gallery8.jpg" class="grid_img"  />
             
              <div>
  
              </div>
            </div>
          
        </div>
        <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
          <div class="venue-card">
              <img src="../../assets/image/photographer/punjabi-couple-images-33.jpg" class="grid_img"  />
             
              <div>
  
              </div>
            </div>
          
        </div>
        <div class="col-lg-3 float-left venues mr-b-4 venue-grid" >
          <div class="venue-card">
              <img src="../../assets/image/photographer/tamil-brahmin-wedding-photography-14.jpg" class="grid_img"  />
             
              <div>
  
              </div>
            </div>
          
        </div> -->
      </div>
      <div class="mr-t-9 v_desp card">
          <h4>Testimonial</h4>
          <div *ngFor="let r of review;let i =index" class="testimonial_user">
              <ng-container *ngIf="review[review.length-i-1] as re">
             
            <div>
              <div class="col-lg-6 float-left">
                <i class="fa fa-user test_user"></i>{{re.c_name}} 
              </div>          
              <!-- <star-rating [starType]="'svg'" [rating]="2.63"></star-rating> -->
              <div class="star-rating col-lg-6 float-right   text-right">
                  <!-- <span class="fa fa-star-o"  data-rating="1"></span>
                  <span class="fa fa-star-o"  data-rating="2"></span>
                  <span class="fa fa-star-o"  data-rating="3"></span>
                  <span class="fa fa-star-o"  data-rating="4"></span>
                  <span class="fa fa-star-o"  data-rating="5"></span>
                  <input type="hidden" name="whatever1" class="rating-value" value="3"> -->
                  <span class="review_span">
                  {{re.rating}}/5
                </span>
                </div> 
              
              </div>
            <div class="review">
              {{re.commnet}} 
            </div>
            </ng-container>
          </div>
  
  
  
        </div>
  </section>
  
  <div class="modal fade bd-example-modal-lg"   tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img src="{{photo_img}}" class="img-fluid h-70vh" style="height: 70vh;"  />
              
        </div>
      </div>
    </div>

    
  <div class="modal fade video_modal bd-example-modal-lg" id="mainvideomodel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <iframe class="embed-responsive-item h-70vh" id="videopopup" src="{{playvideo}}"
            allowfullscreen></iframe>       
        </div>
      </div>
    </div>

    
<div class="modal" id="sendInquiry">
    <div class="modal-dialog  modal-full    ">
      <div *ngIf="customer == true" class="modal-content">

        <!-- Modal Header -->
        <div  class="modal-header">
          <h4 class="modal-title">Send Inquiry</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  <form #frm1="ngForm" (ngSubmit)="sendInquiry()">
        <!-- Modal body -->
        <div class="modal-body">
  
          <div class="form-group">
            <label for="fname" class=""> Name</label><span class="text-danger">*</span>
            <input type="text" #name="ngModel"
            required id="name" name="cname" class="form-control form_control_m" name="cname" [(ngModel)]="cname"  id="name" placeholder="Enter your Name">
            <div *ngIf="name?.touched">
                <div class="red-text left" *ngIf="name.errors?.required">
                    Name Required*
                </div>
             
            </div>
          </div>
          <div class="form-group">
            <label for="fname" class="">Email</label><span class="text-danger">*</span>
            <input type="email" class="form-control form_control_m" #mail="ngModel"
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required   id="email" name="cemail" [(ngModel)]="cemail" placeholder="enter your Email">
            <div *ngIf="mail?.touched">
                <div class="red-text left" *ngIf="mail.errors?.required">
                    Email Required*
                </div>
                <div class="red-text left" *ngIf="mail.errors?.pattern">
                    Please Enter valid Email*
                </div>
  
            </div>
          </div>
          <div class="form-group">
            <label for="fname" class="">Mobile No</label><span class="text-danger">*</span>
            <input type="text" class="form-control form_control_m"  minlength="10" maxlength="10" #mobile="ngModel"
            pattern="[0-9]+" required name="mno"  [(ngModel)]="mno" id="mno" placeholder=" enter your Mobile no">
            <div *ngIf="mobile?.touched">
                <div class="red-text left" *ngIf="mobile.errors?.required">
                  Contact Numeber Required*
                </div>
                <div class="red-text left" *ngIf="mobile.errors?.pattern">
                    Contact Numeber invalid*
                  </div>
                <div [hidden]="!mobile?.hasError('minlength')" class="red-text">
                  Please enter valid Contact Numeber*
                </div>
              </div>
          </div>
          <div class="form-group">
            <label for="fname" class="">Booking Date</label><span class="text-danger">*</span>
            <!-- <input type="date" #dt="ngModel"
            required class="form-control form_control_m" id="date" name="date" [(ngModel)]="date" placeholder="Enter your Date"> -->
            <my-date-picker  #dt="ngModel"
            required name="booking" name="date" [(ngModel)]="date" 
            [placeholder]="placeholder"   [options]="myDatePickerOptions"   
            style="margin-left: -2%;" 
             required></my-date-picker>
  
            <div *ngIf="dt?.touched">
                <div class="red-text left" *ngIf="dt.errors?.required">
                   Please Enter Booking Date*
                </div>
             
            </div>
          </div>
          <div class="form-group">
            <label for="fname" class="">Location</label><span class="text-danger">*</span>
            <input type="text" #lc="ngModel"
            required class="form-control form_control_m" id="fname" name="location" [(ngModel)]="location" placeholder="Enter your Function location">
            <div *ngIf="lc?.touched">
                <div class="red-text left" *ngIf="lc.errors?.required">
                   Please Enter your Function Location*
                </div>
             
            </div>
          </div>
          <div class="form-group">
            <label for="fname" class="">purpose</label><span class="text-danger">*</span>
            <input type="text" #purposed="ngModel"
            required   class="form-control form_control_m" id="purpose" name="purpose" [(ngModel)]="purpose"
              placeholder="Please Write a purpose why are you need this place.">
              <div *ngIf="purposed?.touched">
                  <div class="red-text left" *ngIf="purposed.errors?.required">
                     Please Enter your Purpose Why Are you send this Inquiry*
                  </div>
              </div>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" [disabled]="frm1.invalid" class="btn btn-success w-100">Send</button>
        </div>
      </form>
      </div>
      <div *ngIf="customer == false" class="modal-content">
  
        <!-- Modal Header -->
        <div  class="modal-header">
          <h4 class="modal-title">Customer Login</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
  
          <form (ngSubmit)="login()">
          <div class="form-group">
            <label for="fname" class="">Email</label><span class="text-danger">*</span>
            <input type="email" class="form-control form_control_m" id="email" name="email" [(ngModel)]="email" placeholder="enter your Email">
          </div>
         
          <div class="form-group">
            <label for="fname" class="">Password</label><span class="text-danger">*</span>
            <input type="password" name="password" [(ngModel)]="password" class="form-control form_control_m" id="purpose"
              placeholder="Enter your password .">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-success w-100"  value="Login" />
          </div>
        </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
        </div>
      
      </div>
    </div>
  </div>
  
  <!-- review -->
  <div class="modal" id="review">
    <div class="modal-dialog  modal-full    ">
      <div *ngIf="customer ==true" class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Review</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  <form (ngSubmit)="addFeedback()">
        <!-- Modal body -->
        <div class="modal-body">
  
            <span class='star-rating'>
                <ng-container *ngIf='!forDisplay'>
                  <i *ngFor='let n of range; let $index = index;' class='fa to-rate' (click)='mark($index)' [ngClass]='isMarked($index)'></i>
                </ng-container>
                <ng-container *ngIf='forDisplay'>
                  <i *ngFor='let n of range; let $index = index;' class="to-display fa" [ngClass]='isMarked($index)'></i>
                </ng-container>                  
            </span>
            <!-- <div class="star-rating text-right">
                <span class="fa fa-star-o"  data-rating="1"></span>
                <span class="fa fa-star-o"  data-rating="2"></span>
                <span class="fa fa-star-o"  data-rating="3"></span>
                <span class="fa fa-star-o"  data-rating="4"></span>
                <span class="fa fa-star-o"  data-rating="5"></span>
                <input type="hidden" name="rat" [(ngModel)]="rat" class="rating-value" value="3">
              </div> -->
          <div class="form-group">
            <label for="fname" class="">Comment</label><span class="text-danger">*</span>
            <textarea class="form-control form_control_m" id="cmt" rows="15" maxlength="200" name="feedback" [(ngModel)]="feedback"
              placeholder="Please Enter your valuable feedback"></textarea>
          </div>
  
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success w-100" >Send</button>
        </div>
      </form>
  
      </div>
      <div *ngIf="customer == false" class="modal-content">
  
        <!-- Modal Header -->
        <div  class="modal-header">
          <h4 class="modal-title">Customer Login</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
  
          <form (ngSubmit)="login()">
          <div class="form-group">
            <label for="fname" class="">Email</label><span class="text-danger">*</span>
            <input type="email" class="form-control form_control_m" id="email" name="email" [(ngModel)]="email" placeholder="enter your Email">
          </div>
         
          <div class="form-group">
            <label for="fname" class="">Password</label><span class="text-danger">*</span>
            <input type="password" name="password" [(ngModel)]="password" class="form-control form_control_m" id="purpose"
              placeholder="Enter your password .">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-success w-100"  value="Login" />
          </div>
        </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
        </div>
      
      </div>
    </div>
  </div>
  
<!-- <section class="contaier inner-part mr-t-9"> -->

  <!-- <div class="col-12 col-lg-12 col-md-12">
    <div class="col-lg-3 col-md-3 col-xl-3 col-12 filter float-left">
      <div class="form-group text-center">
        <label class="f_lable">Filter </label>
        <div class="">
          <label class="filter_head">Location <i class="fa fa-map-marker"></i></label>
          <div class="form-group">
            <input class="form-control" list="city" name="city">
            <datalist id="city">
              <option *ngFor="let city of city" value="{{city}}">
              
            </datalist>
          </div>
          <ul class="list-group list-group-flush">
            <li  class="list-group-item area_filter">Area</li>
            <li *ngFor="let a of area" class="list-group-item"(click)="getarea(a)">{{a}}</li>
          
          </ul>
        </div>
        <div>
          <label class="filter_head area_filter w-100 mr-t-9 ">Select Date <i class="fa fa-calendar-day"></i></label>
          <div style="overflow:hidden;">
            <div class="form-group">
              <input type="date" class="form-control"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let v of venues" class="col-lg-8 col-md-8 col-xl-8 col-12  float-left mr-1 grid_main">
      <div class="col-lg-3 col-md-3 col-xl-3 col-12 float-left">
        <img src="{{v.image}}" class="img-fluid " />
      </div>
      <div class="col-lg-6 col-md-6 col-xl-6 col-12 float-left">
        <div class="grid_title"> {{v.companyName}}</div>
        <div class="grid_address">{{v.address}}
        </div>
        <div class="text-center mr-t-13"><button class="btn btn-danger" [routerLink]="['/VenueDetail',v._id]">Detail</button>
        </div>
      </div>
      <div class="text-center col-12 col-lg-3 col-md-3 col-xl-3 float-left grid_price">
        <div class="price_text">
          <button class="btn btn-success price_number">GET PRICE</button>
          <p></p>
          <p>capsity : {{v.capasity_of_person}} Person </p>
        </div>

      </div>
    </div>
 
  </div> -->
<!-- </section> -->
<!-- <div class="mr-t-64">
  <app-footer></app-footer>
</div> -->