<app-header></app-header>
<!-- <ngx-spinner
bdOpacity = 0.9
bdColor = "#fff"
size = "large"
color = "#000000"
type = "ball-clip-rotate"
[fullScreen] = "true"
>
</ngx-spinner> -->

<ngx-spinner
bdOpacity = 0.9
bdColor = "#fff"
[fullScreen] = "true"
>
<img src="../../assets/image/animated_loader.gif" class="img-fluid "  id="slidecaption"/>

<!-- <img src="../../assets/image/loading.png" class="img-fluid "  id="slidecaption"/> -->
<!-- <p style="color: white" > Loading... </p> -->
</ngx-spinner>



<div class="">
  <div class="col-12 col-lg-12 col-md-12 col-xs-12 col-xl-12 text-center pad-0">
    <div class="header-part">
      <div class="text-center headding-text">
        Login
      </div>
    </div>
    <div class="errormsg">{{errormsg}}</div>
    <div class="main-login-content col-12  col-lg-4 col-md-12 col-xl-4 mx-auto mr-5 mr-t-05">
      <div class=" login-tab m-p-5 bt-1">
        <div class="col-4 col-lg-4 col-md-4 col-xl-4 float-left login-tab-text " id="customer" (click)="selectRoll(3)" >Customer</div>
        <div class="col-4 col-lg-4 col-md-4 col-xl-4 float-left login-tab-text br-1" id="venue" (click)="selectRoll(2)" >Venues</div>
        <div class="col-4 col-lg-4 col-md-4 col-xl-4 float-left login-tab-text br-1" id="vendor" (click)="selectRoll(1)" > Vendor</div>
      </div>
    </div>
    <div class="col-12  col-lg-3 col-md-12 col-xl-3 mx-auto">
        <div class="mob_pad_t-13"> If you are new then <a href="javascript:void(0)" [routerLink]="['/register']" ><b class="sign-text">sign up</b></a></div>
      
      <form class="mr-t-10 mr-b-10" (ngSubmit)="login()">
        <div class=" form-group"> 
          <input type="email" *ngIf="loginShow" required placeholder="Enter Email or Mobile No." class="form-control" name="email" [(ngModel)]="email" id="email">
          <input type="email" *ngIf="!loginShow" required placeholder="Enter Email ID" class="form-control" name="email" [(ngModel)]="email" id="email">
        
        </div>
        <div class="form-group">
          <input [type]="show_button ? 'text' : 'password'" *ngIf="loginShow"  required placeholder="Enter Password" class="form-control" name="password" [(ngModel)]="password
          " id="password">
          <i [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" *ngIf="loginShow" (click)="showPassword()"></i>
        </div>
        <div class="form-group">
          <input type="submit" *ngIf="loginShow"  class="btn  btn-success" value="Login">
          <input type="button" (click)="forget();" *ngIf="!loginShow"  class="btn  btn-success" value="Sent Email">
        </div>
      </form>
      <div class=" forget-text"  *ngIf="loginShow" ><a href="javascript:void(0);" (click)="forgetTxt();">
        Forget Password ? </a></div>
        <div class=" forget-text"   *ngIf="!loginShow" ><a href="javascript:void(0);" (click)="forgetTxt();">
          Back To login </a></div>
    
    </div>

  </div>
</div>

<!-- Modal HTML -->
<div id="forget" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="icon-box">
            <i class="fa fa-check"></i>
          </div>				
          <h4 class="modal-title">Awesome!</h4>	
        </div>
        <div class="modal-body">
          <p class="text-center">Your New Password has been sent . Please Check your email.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success btn-block"  data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>