@media (min-width: 576px) {}

.modal-dialog {
    max-width: 500px;
    margin: 8.75rem auto;
}


/* Extra small devices (phones, 600px and down) */

@media (max-width: 700px) and (min-width:200px) {
    .user-icon {
        padding: 2% 10%;
    }
    .r-dialogbox {
        margin-top: 50%;
    }
    .feedback-submit {
        width: 30%;
        float: right;
    }
    #slidecaption {
        width: 100%;
        margin-top: -73%;
        left: -3%;
    }
    .card-bottom {
        /* padding: 6% 0 0; */
        font-size: 12px !important;
        padding: 7% 10px;
        margin-bottom: 12%;
    }
    .detail-bannerimg {
        width: 100%;
        height: 26vh;
        margin-top: 17%;
        display: block;
    }
    .rating {
        /* margin-top: -5%; */
        padding: 0% 22%;
        font-size: 10px !important;
    }
    .login_btn_t {
        width: 50% !important;
    }
    .card-bottom-p {
        font-size: 12px !important;
    }
    .home-second-hedding {
        font-size: 1.5em !important;
    }
    .head-title {
        font-size: 12px !important;
    }
    .title_name {
        font-size: 12px !important;
    }
    .test_user {
        /* width: 50%; */
        font-size: 12px;
    }
    .review_nm {
        font-size: 12px;
        width: 50%;
    }
    .review {
        padding: 5% 3%;
        font-size: 12px;
        margin-top: 0%;
    }
    .grid_img {
        height: 19vh;
    }
    .footer {
        position: unset;
        position: fixed;
    }
    .login-tab-text {
        font-size: 12px;
    }
    .grid_img-he_vh_mobile {
        height: 27vh !important;
    }
    .p_main_section {
        overflow-x: auto;
    }
     ::-webkit-scrollbar {
        height: 4px;
    }
    .mr-m-p-30 {
        margin-top: 30%;
    }
    .detail_block {
        font-size: 12px;
    }
    .venue-grid {
        margin-bottom: 8%;
    }
    .headding-text {
        padding-top: 26%;
        font-size: 32px;
    }
    .city-menu {
        z-index: -1;
    }
    .v_profile_section {
        position: unset;
    }
    .slide_cap {
        color: #fff;
        font-weight: 550;
        font-size: 0.8rem;
    }
    .searchinput {
        font-size: 12 !important;
        font-weight: 400 !important;
        background-size: 27px !important;
        padding: 12px !important;
    }
    .slide_head {
        font-size: 2.05rem;
        color: #fff;
        font-weight: 580;
    }
    .carousel_img_home {
        width: auto;
        align-items: center;
        height: 20vh !important;
        margin-top: 17%;
    }
    .carousel_img {
        width: 100%;
        align-items: center;
        height: 30vh !important;
        margin-top: 8%;
    }
    .carousel-item {
        /* margin-top:25%; */
    }
    .home-section-back {
        background: #FFF;
    }
    .logo {
        position: fixed;
        top: 0;
        margin-top: 11px;
        width: 44%;
        margin-left: 2%;
    }
    nav ul li a {
        color: #fff !important;
    }
    .text-black {
        color: #000 !important;
    }
    .mob_pad_t-13 {
        padding-top: 13%;
    }
    .mob_mr_t-13 {
        margin-top: 13%;
    }
    .mob_l_m_28 {
        left: -8%;
    }
    .pos-fix {
        position: unset;
    }
    .p_main_section {
        margin-right: 0;
    }
    .mob_l_0 {
        margin-left: 0;
        left: 0;
    }
    .mob_mr_l_0 {
        margin-left: 0;
    }
    .r-h-27vh {
        height: 24vh;
    }
    .mob_f_3 {
        font-size: 3em;
    }
    .r_greeting_format {
        font-size: 16px;
        list-style: height 25px;
    }
    .prime_slide_text {
        left: 10% !important;
        font-size: 2.7em !important;
    }
    .slide_text {
        top: 60%;
        left: 4%;
        font-size: 2.7em;
        width: 90%;
    }
    .mob_btn_pos {
        position: fixed;
        bottom: 0;
        right: 0%;
        z-index: 9;
        /* height: 12%; */
    }
    .he-24 {
        height: 36%;
    }
    .logo-scroll {
        width: 44% !important;
        padding-top: 4%;
    }
    .city-box {
        width: 45%;
        margin-top: -21%;
        z-index: 9999;
        /* margin-left: 0; */
        margin-left: 40%;
    }
    .city-menu label {
        display: none;
    }
    .city-box button {
        font-weight: 660 !important;
        /* border-radius: 20px; */
        /* padding: 2% 20%; */
        font-size: 30px !important;
        background: transparent;
        color: #ed3345;
        border: none !important;
    }
    .v_carousel_img {
        height: 40vh;
    }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .user-icon {
        padding: 2% 10%;
    }
    .r-dialogbox {
        margin-top: 50%;
    }
    .card-bottom {
        /* padding: 6% 0 0; */
        font-size: 12px !important;
        padding: 7% 10px;
        margin-bottom: 12%;
    }
    .detail-bannerimg {
        width: 100%;
        height: 24vh;
        margin-top: 22%;
        display: none;
    }
    .rating {
        padding: -18%;
        margin-top: -6%;
        padding: 1.1%;
    }
    .login_btn_t {
        width: 50% !important;
    }
    .card-bottom-p {
        font-size: 12px !important;
    }
    .home-second-hedding {
        font-size: 1.5em !important;
    }
    .head-title {
        font-size: 12px !important;
    }
    .title_name {
        font-size: 12px !important;
    }
    .test_user {
        /* width: 50%; */
        font-size: 12px;
    }
    .review_nm {
        font-size: 12px;
        width: 50%;
    }
    .review {
        padding: 5% 3%;
        font-size: 12px;
        margin-top: 0%;
    }
    .grid_img {
        height: 19vh;
    }
    .footer {
        position: unset;
        position: fixed;
    }
    .login-tab-text {
        font-size: 12px;
    }
    .grid_img-he_vh_mobile {
        height: 17vh !important;
    }
    .p-card-img {
        height: 17vh !important;
    }
    .inner-part {}
    .p_main_section {
        overflow-x: auto;
    }
     ::-webkit-scrollbar {
        height: 4px;
    }
    .mr-m-p-30 {
        margin-top: 30%;
    }
    .detail_block {
        font-size: 12px;
    }
    .venue-grid {
        margin-bottom: 8%;
    }
    .headding-text {
        padding-top: 26%;
        font-size: 32px;
    }
    .city-menu {
        z-index: -1;
    }
    .v_profile_section {
        position: unset;
    }
    .slide_cap {
        color: #fff;
        font-weight: 550;
        font-size: 0.8rem;
    }
    .searchinput {
        font-size: 12 !important;
        font-weight: 400 !important;
        background-size: 27px !important;
        padding: 12px !important;
    }
    .slide_head {
        font-size: 2.05rem;
        color: #fff;
        font-weight: 580;
    }
    .carousel_img {
        width: auto;
        align-items: center;
        height: 20vh !important;
        margin-top: 20%;
    }
    .carousel-item {
        /* margin-top:25%; */
    }
    .home-section-back {
        background: #efefef;
    }
    .logo {
        position: fixed;
        top: 0;
        margin-top: 11px;
        width: 44%;
        margin-left: 2%;
    }
    nav ul li a {
        color: #fff !important;
    }
    .text-black {
        color: #000 !important;
    }
    .mob_pad_t-13 {
        padding-top: 13%;
    }
    .mob_mr_t-13 {
        margin-top: 13%;
    }
    .mob_l_m_28 {
        left: -8%;
    }
    .pos-fix {
        position: unset;
    }
    .p_main_section {
        margin-right: 0;
    }
    .mob_l_0 {
        margin-left: 0;
        left: 0;
    }
    .mob_mr_l_0 {
        margin-left: 0;
    }
    .r-h-27vh {
        height: 34vh;
    }
    .mob_f_3 {
        font-size: 3em;
    }
    .prime_slide_text {
        left: 10% !important;
        font-size: 2.7em !important;
    }
    .slide_text {
        top: 60%;
        left: 4%;
        font-size: 2.7em;
        width: 90%;
    }
    .mob_btn_pos {
        position: fixed;
        bottom: 0;
        right: 0%;
        z-index: 9;
        /* height: 12%; */
    }
    .he-24 {
        height: 36%;
    }
    .logo-scroll {
        width: 44% !important;
        padding-top: 4%;
    }
    .city-box {
        /* display: block; */
        width: 100%;
        margin-left: 0;
    }
    .v_carousel_img {
        height: 40vh;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1024px) {
    .r-mr-l-r-2 {
        margin: -2% 2% !important;
    }
    .subnav-content {
        width: 21% !important;
    }
    .menu_bottom {
        background: #ed2437;
        position: sticky;
        bottom: 0;
        width: 100%;
        transition: 0.3s;
    }
    .premium-pk {
        font-size: 0.8rem;
        color: #fff !important;
        font-weight: 550;
    }
}

@media only screen and (min-width: 1200px) {
    .nav ul {
        line-height: 80px;
    }
}
