body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
    cursor: default;
    font-size: 12px !important;
}

.them-color {
    color: #ed2437;
}

h4 {
    font-size: 1.1rem !important;
}


/* loading animation */


/*
#slidecaption {
    z-index: 9999999999;
    width: 20%;
    top: 50%;
    left: 41%;
    position: relative;
    -webkit-animation-name: spinner;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 2s;
   animation-name: spinner;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-duration: 2s;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
} */

#slidecaption {
    z-index: 9999999999;
    position: relative;
    width: 54%;
    margin-top: -21%;
    left: 18%;
}


/* WebKit and Opera browsers */


/* @-webkit-keyframes spinner {
   from
   {
       -webkit-transform: rotateY(0deg);
   }
   to {
       -webkit-transform: rotateY(-360deg);
   }
}

@keyframes spinner {
   from {
       -moz-transform: rotateY(0deg);
       -ms-transform: rotateY(0deg);
       transform: rotateY(0deg);
   }
   to
   {
       -moz-transform: rotateY(-360deg);
       -ms-transform: rotateY(-360deg);
       transform: rotateY(-360deg);

   }
} */

.red-text {
    color: #ed2437;
}

.mr-b-0 {
    margin-bottom: 0;
}

.contact-msg {
    padding: 2%;
    border: 1px solid #28bb28;
    margin-top: 5%;
    color: #28bb28;
    transition: 2s;
}

a:focus {
    outline: none;
}

::-webkit-scrollbar {
    /* display: none; */
    /* border: 1px solid #000; */
    height: 2px;
}


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/*
  ::-webkit-scrollbar:hover {
    width: 15px;
  } */

.menu_bottom {
    background: #ed2437;
    position: fixed;
    bottom: 35.5%;
    width: 17.5%;
    transition: 0.3s;
}

.menu_bottom:hover {
    background: #000;
    color: #fff;
}

.menu_ul {
    padding: 0;
    height: 55vh;
    overflow-y: scroll;
    border: 1px solid #e6e6e6;
}


/* Track */

 ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    /* border-radius: 10px; */
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #ed2437;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.star-rating {
    line-height: 32px;
    font-size: 1.25em;
    text-align: center;
    /* color: #000; */
}

.star-rating:hover {
    color: #ffb901;
}

.star-rating .fa-star {
    color: #ffb901;
}


/* animation */

.faddin {
    -webkit-animation: fadein 1.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 1.5s;
    /* Internet Explorer */
    -o-animation: fadein 1.5s;
    /* Opera < 11.5.1 */
    animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.login_btn_t {
    width: 11%;
}

.title_name {
    float: left;
    text-align: left;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #3e3d3d;
    font-size: 16px !important;
}

.home_title_name {
    float: left;
    text-align: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #ed2437 !important;
    color: #3e3d3d;
    /* font-size: 16px !important; */
}

.rating {
    width: 50;
    float: right;
    /* background: #27b70e; */
    /* color: #fff !important; */
    font-size: 14px !important;
    /* padding: 2%; */
}

.parallax {
    /* The image used */
    /* background-image: url("../image/back_banner.jpg"); */
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
}

.home-section-back {
    /* background: #efefef; */
    padding: 2%;
    border-radius: 5px;
    /* margin-top: 2%; */
}

a:hover {
    text-decoration: none !important;
    color: #ed2437 !important;
    font-weight: 700;
    /* border-bottom: 1px solid #fff; */
}

.cat {
    /* background: #FF353A; */
    color: #FF353A;
    padding: 2% 10%;
    /* border-radius: 15px; */
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.cat:hover {
    color: #000;
    border-bottom: 1px solid #FF353A;
}

.pointer {
    cursor: pointer;
}

.he-24 {
    height: 24%;
}

.pad-t-b-5 {
    padding: 5% 0;
}

.pos-fix {
    position: fixed;
}

.logo-scroll {
    width: 12% !important;
    /* padding-top: 0.5%; */
    transition: 0.5s;
    margin-top: 0.3% !important;
}

.carousel {
    z-index: 1;
}

.pad-5 {
    padding: 5%;
}


/* border class */

.b-1 {
    border: 1px solid #6c757ddb;
}

.mr-b-6 {
    margin-bottom: 6%;
}

.bt-1 {
    border: 1px solid #e2e2e2;
}

.mr-2 {
    margin: 2%;
}

.errormsg {
    color: #ed2437;
    font-weight: 600;
}

.mr-t-05 {
    margin-top: -0.5% !important;
}

.b-t-1 {
    border-top: 1px solid #000;
}

.br-1 {
    border-right: 1px solid #e2e2e2 !important;
}

.filter_section {
    border-bottom: 12px solid #000;
}

.detail-bannerimg {
    width: 100%;
    height: 60vh;
}

.r-h-27vh {
    height: 60vh;
    width: 100%;
}

.grid_img {
    width: 100% !important;
    height: 30vh;
    background: #fff;
}

.h-70vh {
    height: 70vh;
}

.inner-part {
    padding: 20px 0 53px 0;
    background: url(../image/detail-back.jpg) 0 0 repeat;
    padding: 2% 3% !important;
}

.card-img {
    /* box-shadow: 2px -16px 13px 0px; */
}

.card-bottom {
    background: #fff;
    padding: 4% 0px;
    color: #000;
    font-weight: 650;
    /* box-shadow: 2px 12px 16px 0px; */
    padding-bottom: 0;
    font-size: 0.9rem !important;
    padding-bottom: 17%;
}

.card-bottom-p a:hover {
    color: #000 !important;
}

.card-bottom-p {
    background: #FF353A;
    padding: 11% 0;
    color: #fff;
    font-weight: 550;
    box-shadow: 2px 12px 16px 0px;
    padding-bottom: 0;
    font-size: 1rem;
    padding-bottom: 9%;
}

.back-part {
    background: #f8f9fa !important;
    padding: 2%;
    border-radius: 6px;
}

.website_link {
    color: #ed2437 !important;
    font-weight: 700 !important;
    font-size: 1.1em !important;
    transition: 0.3s;
}

.website_link:hover {
    padding: 2%;
    border-radius: 5px;
    background: #000;
    color: #fff !important;
    font-weight: 550 !important;
}

.filp-top {
    background: url('../image/flip-top.png') bottom center no-repeat;
    width: 100%;
    height: 37px;
    background-size: contain;
}

.filp-bottom {
    background: url('../image/flip-bottom.png') top center no-repeat;
    width: 100%;
    height: 60px;
    margin-top: -1.2%;
    width: 100%;
    background-size: contain;
}

.filp-bottom-p {
    background: url('../image/flip-bottom-p.png') top center no-repeat;
    width: 100%;
    height: 37px;
    margin-top: -0.2%;
    width: 100%;
    background-size: contain;
}

.form-control:focus {
    box-shadow: none !important;
}

.city_select_menu {
    background: transparent !important;
    font-weight: 550 !important;
    width: 100% !important;
    border: 1px solid #000 !important;
    border-radius: 5px !important;
}

.city_select_menu:hover {
    color: #ed2437 !important;
    border: 1px solid #ed2437;
}

.city-menu {
    display: none;
    position: absolute !important;
    /* background: #000; */
    margin-left: 25%;
    margin-top: 1%;
    width: 16%;
    /* z-index: -1; */
}

.venue-card {
    box-shadow: -1px 4px 4px 0px;
}

.venue-grid {
    transition: 0.5s;
    cursor: pointer;
    margin: 3% 0;
}

.venue-grid:hover {
    transform: scale(1.1);
}

.lodding-div {
    width: 10%;
    margin: 0 auto;
    /* margin-top: 18%; */
    height: 100vh;
}

.lodding-img {
    position: absolute;
    width: 10%;
    top: 39%;
}


/*
.main-banner{
    margin-top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../image/desktop_bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.city_select{
    background-color: transparent !important;
    color: #fff !important;
}

.city_select option{
  color: #000 !important;
}
.logo{
    margin-right:1%;
}
.mr-1{
    margin: 1%;
}
.mr-t-1{
    margin-top:1%;

}

.mr-l-1{
    margin-left:1%;
}


ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
} */

.width-50 {
    width: 40% !important;
}

.mr-1 {
    margin: 1%;
}

.pad-6 {
    padding-bottom: 6% !important;
}

.mr-t-9 {
    margin-top: 9% !important;
}

.mr-t-26 {
    margin-top: 26% !important;
}

.mr-r-l-8 {
    margin: 0 8%;
}

.mr-b-4 {
    margin-bottom: 4%;
}

.mr-t-64 {
    margin-top: 64%;
}

.mr-t-42 {
    margin-top: 42% !important;
}

.mr-t-2 {
    margin-top: 2%;
}

.mr-t-3 {
    margin-top: 3%;
}

.pad-0 {
    padding: 0 !important;
}

.mr-t-41 {
    margin-top: 41%;
}

.mr-b-1 {
    margin-bottom: 1%;
}

.pad-b-8 {
    padding-bottom: 8.9%;
}

.mr-t-13 {
    margin-top: 13%;
}

.mr-l-13 {
    margin-left: 13%;
}

.mr-b-22 {
    margin-bottom: 22%;
}

.mr-t-5 {
    margin-top: 5%;
}

.l-16 {
    left: 16%;
}

.pad-t-2 {
    padding-top: 2%;
}

.mr-b-8 {
    margin-bottom: 8%;
}

.mr-t-10 {
    margin-top: 10%;
}

.mr-l-25 {
    margin-left: 25%;
}

.mr-l-12 {
    margin-left: 12%;
}

.mr-b-10 {
    margin-bottom: 10%;
}

.mr-6 {
    margin: 6%;
}

.mr-t-17 {
    margin-top: 17%;
}

.mr-t-8 {
    margin-top: 8%;
}

.m-p-5 {
    margin: 5%;
}

.mr-l-17 {
    margin-left: 17%;
}

.mr-b-36 {
    margin-bottom: 36%;
}

.mr-5 {
    margin: 5%;
}

.pad-2 {
    padding: 2%;
}

.pad-t-5 {
    padding-top: 5% !important;
}

header {
    width: 100%;
    /* height: 83vh; */
    /* background: url(../image/desktop_bg.jpg) no-repeat ; */
    background-size: cover;
}

.content {
    /* width: 94%; */
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.card-img-top {
    height: 170px;
}

.card-body {
    background: #000;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-shadow: -11px -3px 20px 0px;
}

.card-body a {
    color: #fff;
    /* font-size: 16px; */
}

.card {
    margin-bottom: 5%;
}

.logo {
    line-height: 30px;
    position: fixed;
    width: 12%;
    float: left;
    margin: 12px 48px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.contact-text {
    padding: 4%;
    font-size: 1.1em;
    font-weight: 550;
    color: #000 !important;
}

.wp-icon {
    color: #27b70e;
    font-size: 19px;
}

.contact-text a {
    color: #000;
}

.social-icon {
    /* font-size: 2em; */
    font-size: 1.7em;
    /* padding: 9% 5%; */
    margin: 2% 6%;
    /* background: #000; */
    padding: 2%;
    /* color: #fff; */
    cursor: pointer;
    border-radius: 56px;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #b30000;
}

.email-icon {
    color: #FF353A;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 2;
    /* line-height: 60px; */
}

nav ul {
    line-height: 34px;
    list-style: none;
    background: transparent;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #fff;
    /* border-bottom: 5px solid #f9f9f9; */
    box-shadow: -2px -4px 12px 2px;
}

nav ul li {
    display: inline-block;
    padding: 7px 22px;
    cursor: pointer;
    outline: none;
}

input[type="date"]::before {
    color: #ffffff;
    /* content: attr(placeholder) ": "; */
}

input[type="date"]:focus::before {
    content: "" !important;
}

.subnav-content::-webkit-scrollbar {
    width: 5px;
}

nav ul li:focus {}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
    /* text-shadow: 2px 2px 8px #000; */
}

.active_menu {
    color: #FF353A;
    border-bottom: 3px solid #FF353A;
    /* text-shadow: 2px 2px 8px #000; */
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #fff;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #000;
    display: none;
}

@media(max-width: 786px) {
    .card-img-top {
        height: 120px;
    }
    .card-body {
        padding: 10px !important;
        text-align: center;
    }
    .logo {
        position: fixed;
        top: 0;
        margin-top: 11px;
        width: 30%;
        margin-left: 2%;
    }
    nav ul li a {
        color: #fff;
    }
    nav ul {
        max-height: 0px;
        padding-right: 0;
        background: #000;
    }
    nav.black ul {
        padding-right: 0;
        background: #000 !important;
    }
    .subnav-content {
        width: 88% !important;
        background: #000 !important;
    }
    .menu_bottom {
        background: #ed2437;
        position: sticky;
        bottom: 0;
        width: 100%;
        transition: 0.3s;
    }
    .showing {
        max-height: 34em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }
    .menu-icon {
        display: block;
        background: none;
        line-height: 40px;
    }
}

label {
    font-size: 12px;
    font-weight: 600;
}

.form-control {
    border: 0 !important;
    border-bottom: 1px solid #e2e2e2 !important;
    font-size: 0.8rem !important;
}

.btn-success {
    color: #fff;
    background-color: #c70d0d !important;
    border-color: #c70d0d !important;
}

textarea {
    border: 0 !important;
    border-bottom: 1px solid #e2e2e2 !important;
    font-size: 0.8rem !important;
}

.error_msg {
    text-align: center;
    font-size: 14px;
    padding: 2%;
    font-weight: bold;
}


/* carousel */

.carousel_img {
    width: 100%;
    align-items: center;
    height: 60vh !important;
}

.carousel_img_home {
    width: 100%;
    align-items: center;
    height: 60vh !important;
}

.v_carousel_img {
    width: 100%;
    height: 80vh;
}

.greeting_format {
    margin-top: 1%;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    color: #585858;
}

.r_greeting_format {
    margin-top: 0;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    color: #585858;
}

.greeting_head {
    font-size: 1.3em;
    font-weight: 700;
    color: #000;
    font-family: 'Courgette', cursive;
}


/* .selectiongroup input{
    background: #FF353A !important;
    color: #fff !important;
    margin-top: 2% !important;
    width: 59% !important;

} */

.review_span {
    background: #066906;
    padding: 1.3% 5%;
    border-radius: 15px;
    color: #fff;
}

.star {
    color: #ca2121;
}

.home-second-hedding {
    margin-top: 3%;
    font-weight: 700;
    font-size: 2.2em;
    text-align: center;
    /* color: #ff353a; */
    /* border-radius: 51px; */
    padding: .6%;
    font-family: 'Courgette', cursive;
    /* border-bottom: 2px solid #000; */
    /* box-shadow: -1px 1px 16px 6px #b1989873; */
    /* margin-bottom: 4%; */
}

.head-title {
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Courgette', cursive;
}

hr.title {
    margin-top: 0px;
    height: 4px;
    background: #cb212e;
    width: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    margin-bottom: 4%;
}

.p-card-img {
    z-index: -9 !important;
    /* box-shadow: -1px 0px 13px 2px #484b4e; */
    /* border-radius: 5px; */
    width: 100%;
    height: 21vh !important;
}

.card-con {
    box-shadow: 0px 3px 3px 2px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
    olor: #000;
    padding: 1.3%;
    border: 1px solid #d6cdce;
}

.card-size {
    min-width: 245px !important;
    min-height: 280px !important;
    /* box-shadow: 0px 1px 6px 0px; */
    transition: 0.5s;
}

.card-size:hover {
    transform: scale(1.1);
}

.card-content {
    /* border: 1px solid #e2e2e2; */
    padding: 1%;
    border-radius: 5px;
    margin-bottom: 20%;
    z-index: -1;
}

.card-city_name {
    text-align: center;
    /* font-size: 1.3vw; */
    font-weight: 550;
    margin: 3% 0;
}

.card-detail {
    color: #FF353A;
    text-decoration: none !important;
    padding: 3% 5%;
}

.card-detail:hover {
    background: #000;
    /* padding: 3% 5%; */
    border-radius: 13px;
    font-weight: 550;
    color: #fff !important;
}

.how-work-icon {
    width: 30%;
    margin: 0 auto;
    padding-top: 1%;
}

.border-none {
    border: none !important;
}

.how-work-title {
    margin-top: 4%;
    font-size: 18px;
    font-weight: 550;
}

.how-work-desp {
    color: #7D7C7A;
    font-size: 12px;
}

.footer {
    background: #000;
    color: #fff;
    padding: 1% 1%;
    font-size: 14px;
    position: absolute;
}

.footer-link {
    color: #fff !important;
}


/* .carousel-control-next{
    display: block !important;
}
.carousel-control-prev{
      display: block !important;
} */

.user-icon {
    font-size: 25px;
    border: 1px solid;
    padding: 42% 73%;
    border-radius: 60px;
    /* background:#e2e2e2; */
}

.user-icon {
    font-size: 11px;
    /* background:#e2e2e2; */
}

.header-part {
    width: 100%;
    height: 30vh;
}

.s_header-part {
    height: 15vh;
}

.headding-text {
    padding-top: 7%;
    font-size: 52px;
    font-weight: 550;
    border-bottom: 3px solid #e2e2e2;
    box-shadow: 1px 8px 20px 0px #e2e2e2;
}

.s_headding-text {
    /* padding-top: 10%; */
    font-size: 52px;
    font-weight: 550;
    /* border-radius:15px;  */
    border-bottom: 1px solid #e2e2e2;
    /* box-shadow: 1px 8px 20px 0px #e2e2e2; */
}

.login-tab {}

.login-tab-text {
    /* border-right: 2px solid #e2e2e2; */
    padding: 4% !important;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e2e2e2;
}

.login-tab-text:hover {
    background: #000;
    color: #fff;
}

.login-tab-text:focus {
    background: #000;
    color: #fff;
}

.login-tab-text:focus-visible {
    background: #000;
    color: #fff;
}

.forget-text {
    color: #ed2437;
    margin-bottom: 10%;
    cursor: pointer;
}

.sign-text {
    color: green;
}

.vr-headding-text {
    font-size: 2.5rem;
    padding-top: 10%;
    font-weight: 550;
    border-bottom: 3px solid #e2e2e2;
    box-shadow: 1px 8px 20px 0px #e2e2e2;
}

.venueprofile_head {
    font-size: 1.4rem !important;
    margin-bottom: 4% !important;
}

.user_profile_img {
    width: 37%;
    border: 1px solid;
    border-radius: 65px;
}

.v_profile_section {
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding: 4%;
    background: #fff;
    position: fixed;
}

.user-photo-section {
    border-bottom: 1px solid #e2e2e2;
    padding: 4%
}

.profile_menu {
    background: #e22d3e;
    padding: 2%;
    color: #fff;
    font-weight: 550;
    border-radius: 35px;
    text-align: center;
    margin: 4% 0;
    transition: 1s;
    cursor: pointer;
}

.profile_menu:hover {
    background: #000;
}

.profile_menu a {
    color: #fff;
}

.p_main_section {
    border: 1px solid #e2e2e2;
    padding: 2%;
    border-radius: 10px;
    /* background: #f2f2f2; */
    margin-right: 8%;
}

.signupTitle {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.6em;
}

.slide_text {
    text-align: center;
    font-size: 3.4em;
    color: #fff;
    font-weight: 550;
    top: 42%;
    position: absolute;
    left: 32%;
    padding: -9%;
    width: 40%;
}

.r_head {
    background: #000;
    color: #fff;
    padding: 0.7%;
    cursor: pointer;
}

.r_head:hover {
    background-color: #FF353A;
    font-weight: 550;
}

.r_l_form {
    border: 1px solid #e2e2e2;
    padding: 2%;
    border-right: none;
}

.r_r_form {
    border: 1px solid #e2e2e2;
    padding: 2%;
    border-left: none;
}

.form_control_m {
    border: 0 !important;
    border-bottom: 1px solid #e2e2e1 !important;
    color: #565654 !important;
    font-weight: 500 !important;
    height: 38px !important;
    border-radius: 0;
    font-size: 14px !important;
    text-align: left !important;
}

.form_control_m:hover {
    box-shadow: none !important;
    border-bottom: 1px solid #FF353A !important;
}

.form_control_m:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #FF353A !important;
}

.f_lable {
    font-size: 21px !important;
    font-weight: 700;
    color: #DEAE2F;
    width: 100%;
    border-bottom: 1px solid #000;
    text-align: center;
    /* background: #000; */
    padding: 2%;
    border-radius: 15px;
}

.filter_head {
    font-size: 20px;
    font-weight: 550;
    padding-top: 9%;
}

.nav_sub_child_menu {
    display: none;
}


/* The subnavigation menu */


/* Subnav button */

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


/* Add a red background color to navigation links on hover */

.navbar a:hover,
.subnav:hover .subnavbtn {
    /* background-color: red; */
}


/* Style the subnav content - positioned absolute */

.subnav-content {
    position: absolute;
    display: none;
    /* left: 0; */
    text-align: left;
    background-color: #fff;
    width: 18%;
    border-radius: 6px;
    margin-top: 0.5%;
    /* padding-right: 0 !important; */
}

.premium-pk {
    font-size: 0.9rem;
    color: #fff !important;
    font-weight: 550;
}

.premium-pk:hover {
    color: #fff !important;
    font-weight: 600;
}


/* Style the subnav links */

.subnav-content a {
    color: #000;
    text-decoration: none;
    text-shadow: none;
    font-weight: 600;
    font-size: 14px;
}


/* Add a grey background color on hover */

.subnav-content a:hover {
    /* background-color: #eee; */
    color: black;
}


/* When you move the mouse over the subnav container, open the subnav content */

.subnav:hover .subnav-content {
    display: grid;
    text-align: left;
}


/* .nav_sub_child_menu:hover{
    display: grid;
    position: absolute;
    background: #fff;
    width: 14%;
    margin-left: -3%;
    text-align: left;
    border-radius: 11px;
} */

.area_filter {
    /* background: #FF353A !important; */
    color: #FF353A !important;
    font-size: 20px !important;
    padding: 2% !important;
    font-weight: 600;
    border-radius: 35px !important;
}

.f-text-area {
    height: 20% !important;
    width: 100%;
}

.f-text-area:hover {
    box-shadow: none !important;
    border-bottom: 1px solid #FF353A !important;
}

.f-text-area:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #FF353A !important;
}

.grid_main {
    border: 1px solid #e2e2e2;
    padding: 1%;
    border-radius: 6px;
}

.grid_img {
    width: 70%;
}

.grid_address {
    font-size: 12px;
}

.grid_title {
    font-size: 1.2rem;
    font-weight: 550;
    text-align: center;
}

.grid_price {
    background-color: #e2e2e2;
    padding: 3%;
}

.price_number {
    font-size: 24px;
    font-weight: 660;
    color: green;
}

.filter {
    height: 100vh;
}

.like_display {
    padding: 10% 0;
    font-size: 22px;
    position: absolute;
    right: 0%;
}

.title_section {
    background-color: #e2e2e2;
    background: #e2e2e23b;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
}

td {
    border-top: none !important;
}

.v_desp {
    color: #000;
    margin-top: 4%;
    text-align: justify;
    border-top: 3px solid #e2e2e2;
    padding: 4%;
    font-size: 13px;
    /* background: #f8f9fa; */
    border-radius: 7px;
    box-shadow: 0px 2px 12px 2px #e2e2e2e2;
}

.send_btn {
    /* position: fixed; */
    right: 0;
    text-align: center;
    /* background: #e2e2e2; */
    /* padding: 5% 0; */
    /* top: 46%; */
}

.feedback-submit {
    width: 11% !important;
    float: right;
}

.testimonial_user {
    /* background: #cccccc24; */
    padding: 4%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 2% !important;
    /* border: 1px solid #e2e2e2; */
}

.test_user {
    padding: 3%;
    font-size: 30px;
}

.inquery_btn {
    background: #FF353A !important;
    color: #fff !important;
    margin-top: 2% !important;
    width: 59% !important;
}

.inquery_btn:hover {
    background-color: #000 !important;
}

.review_btn {
    background: #ffc107 !important;
    color: #000 !important;
    margin-top: 2% !important;
    width: 59% !important;
}

.review_btn:hover {
    background-color: #000 !important;
    color: #fff !important;
}

.review {
    /* margin-left: 7%; */
    margin-top: 7%;
    background: #fff;
    padding: 1% 3%;
    font-weight: 400 !important;
    font-size: 12px !important;
    border-radius: 24px !important;
}

.star_rating {
    color: #fff;
    background-color: #ffc107;
    border-radius: 10px;
    padding: 1%;
}

.slide_head {
    font-size: 3.75rem;
    color: #fff;
    font-weight: 580;
    cursor: pointer;
}

.carousel-caption {
    right: -5% !important;
    left: -4% !important;
}

.slide_cap {
    color: #fff;
    font-weight: 550;
}

.rating {
    color: #DEAE2F;
}

.back_red {
    background: #FF353A !important;
}

.rating {
    font-size: 1em;
}

.detail_block {
    /* background-color: #fff; */
    height: 30%;
    text-align: center;
    border-radius: 35px;
    padding: 1%;
    margin: 1%;
    font-weight: 600;
    font-size: 12px;
}

.detail_title {
    font-size: 12px;
    color: #FF353A;
    font-weight: 600;
}

input[type=date] {
    align-items: left !important;
}

.videostroy_title {
    font-size: 22px;
    /* background: #000; */
    color: #000;
    font-weight: 600;
    border-bottom: 2px solid;
    padding: 1% 0;
    padding-left: 0 !important;
    text-align: left;
    margin-top: 4%;
}

.feedback-scroll {
    height: 80vh;
    overflow-y: scroll;
}

.video_hover:hover .video_thumb_hover {
    opacity: 1;
}

.video_thumb_hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 91%;
    opacity: 0;
    /* transition: .5s ease; */
    background-color: #008CBA;
}

.form-control:focus {
    border-color: #000 !important;
}
