<!-- <app-header></app-header> -->
<!-- <ngx-spinner
bdOpacity = 0.9
bdColor = "#fff"
size = "large"
color = "#000000"
type = "ball-clip-rotate"
[fullScreen] = "true"
>
</ngx-spinner> -->

<app-header></app-header>
<ngx-spinner bdOpacity=0.9 bdColor="#fff" [fullScreen]="true">
    <img src="../../assets/image/animated_loader.gif" class="img-fluid " id="slidecaption" />

    <!-- <img src="../../assets/image/loading.png" class="img-fluid "  id="slidecaption"/> -->
    <!-- <p style="color: white" > Loading... </p> -->
</ngx-spinner>


<section id="home" class="top_cont_outer contanier">
    <div class="top_cont_inner">
        <div class="">
            <div class="top_content pad-0">
                <carousel [interval]=2000 [showIndicators]="false" [noPause]="false">
                    <slide class="fadding r-h-27vh">
                        <img class="background-img r-h-27vh  detail-bannerimg" src="{{vendorphoto}}" style="width: 100%;" />
                        <div class="slide_text">
                            <!-- <input type="text" class="form-control searchinput" id="vendorSearch" name="vendorSearch" [(ngModel)]="vendorSearch"
              placeholder="Search your favourite Vendors. . . ."> -->
                        </div>
                    </slide>

                </carousel>
                <div class="inner-part center">
                    <div class="col-8 mx-auto col-lg-8  col-md-8 col-xl-8 col-xs-8 r_greeting_format ">
                        <p class="text-center">
                            <b class="greeting_head">Find Better Vendor to your Function</b></p>
                        <hr class="title">

                    </div>
                </div>
                <div class="row justify-content-center center inner-part" style="margin-right:0 !important; margin-top: -3%;
        box-shadow: 0px 3.4px 10px 0px;">
                    <!-- <star-rating [starType]="'svg'" [rating]="5"></star-rating>    -->
                    <div class="col-10 col-sm-12 col-lg-4 col-md-4 col-xl-4   float-left">
                        <!-- <b>Filter</b>  -->
                        <div class="form-group">
                            <label class="them-color">Select your Function City</label>
                            <select class="form-control form_control_m" name="cityget" [(ngModel)]="cityget" (change)="fetchcity(cityget)" id="exampleFormControlSelect1">
                        <option selected disabled>City</option>
                        <option *ngFor="let c of city" value="{{c}}">{{c}}</option>
                        <!-- <option>flower decoration</option> -->
                    </select>
                        </div>
                    </div>
                    <div class="col-10 col-sm-12 col-lg-4 col-md-4 col-xl-4  float-left">
                        <!-- <b>Filter</b>  -->

                        <div class="form-group">
                            <label class="them-color">Select you Function Date</label>
                            <my-date-picker name="booking" min="currentDate" [options]="myDatePickerOptions" [(ngModel)]="booking" (dateChanged)="datefilter($event)" required></my-date-picker>

                            <!-- <input type="date" name="booking" [(ngModel)]="booking" (ngModelChange)="datefilter($event)"  placeholder="Select your function date"  class="form-control form_control_m"/> -->
                        </div>

                    </div>
                    <!-- <div class="col-12 mx-auto col-lg-12  col-md-12 col-xl-12 col-xs-12 r_greeting_format ">
                <div *ngFor="let vcat of venueCategory" class="text-center col-3 mx-auto col-lg-3  col-md-3 col-xl-3 col-xs-3 float-left">
               <b class="cat" (click)="getcategoryId(vcat._id)">{{vcat.venue_cat_name}}</b>
              </div>
             -->


                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container" style="margin-top:4% ;">
    <div class="row ">
        <div class="col-6 col-lg-3 col-md-3 col-xl-3 col-xs-12 float-left   mr-b-1" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" *ngFor="let v of vendor | filter:vendorSearch;" data-aos-delay="300" data-aos-offset="0">
            <a [routerLink]="['/VenderDetail',v._id]">
                <div class="card">
                    <img src="{{v.image}}" class="card-img-top">
                    <div class="card-body ">
                        <div class=" col-lg-6 col-md-6 col-xl-8 col-xs-12 float-left" style="overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;" title="v.companyName"> <a>{{v.companyName}}</a></div>
                        <div class="rating  col-lg-3 col-md-3 col-xl-3 col-xs-12 float-right">3/5 <i class="fa fa-star"></i></div>

                    </div>
                </div>
            </a>
        </div>
        <!-- <input [(ngModel)]="searchText" placeholder="search"> -->
        <!-- <div *ngFor="let v of venues | search:'companyName':searchText">{{v.companyName}}</div> -->

    </div>
</section>

<!-- <section class="contaier inner-part mr-t-9"> -->

<!-- <div class="col-12 col-lg-12 col-md-12">
    <div class="col-lg-3 col-md-3 col-xl-3 col-12 filter float-left">
      <div class="form-group text-center">
        <label class="f_lable">Filter </label>
        <div class="">
          <label class="filter_head">Location <i class="fa fa-map-marker"></i></label>
          <div class="form-group">
            <input class="form-control" list="city" name="city">
            <datalist id="city">
              <option *ngFor="let city of city" value="{{city}}">

            </datalist>
          </div>
          <ul class="list-group list-group-flush">
            <li  class="list-group-item area_filter">Area</li>
            <li *ngFor="let a of area" class="list-group-item"(click)="getarea(a)">{{a}}</li>

          </ul>
        </div>
        <div>
          <label class="filter_head area_filter w-100 mr-t-9 ">Select Date <i class="fa fa-calendar-day"></i></label>
          <div style="overflow:hidden;">
            <div class="form-group">
              <input type="date" class="form-control"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let v of venues" class="col-lg-8 col-md-8 col-xl-8 col-12  float-left mr-1 grid_main">
      <div class="col-lg-3 col-md-3 col-xl-3 col-12 float-left">
        <img src="{{v.image}}" class="img-fluid " />
      </div>
      <div class="col-lg-6 col-md-6 col-xl-6 col-12 float-left">
        <div class="grid_title"> {{v.companyName}}</div>
        <div class="grid_address">{{v.address}}
        </div>
        <div class="text-center mr-t-13"><button class="btn btn-danger" [routerLink]="['/VenueDetail',v._id]">Detail</button>
        </div>
      </div>
      <div class="text-center col-12 col-lg-3 col-md-3 col-xl-3 float-left grid_price">
        <div class="price_text">
          <button class="btn btn-success price_number">GET PRICE</button>
          <p></p>
          <p>capsity : {{v.capasity_of_person}} Person </p>
        </div>

      </div>
    </div>

  </div> -->
<!-- </section> -->
<!-- <div class="mr-t-64">
  <app-footer></app-footer>
</div> -->
