.searchinput{
    color: #000;
    font-weight: 600;
    background: blur(10px);
    font-size: 15px !important;
    -webkit-backdrop-filter: blur(10px);
    /* backdrop-filter: blur(7px); */
    background-color: rgba(255, 255, 255, 0);
    padding: 23px 28px;
    background-size: 33px;
        background-repeat: no-repeat;
    background-position: right;
    background-image: url('../../assets/image/search_icon.png');

}

