<app-header></app-header>
<!-- <ngx-spinner bdOpacity=0.9 bdColor="#fff" size="large" color="#000000" type="ball-clip-rotate" [fullScreen]="true">
</ngx-spinner> -->
<app-header></app-header>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#fff"
[fullScreen] = "true"
>
<img src="../../assets/image/animated_loader.gif" class="img-fluid "  id="slidecaption"/>
<!-- <img src="../../assets/image/loading.png" class="img-fluid "  id="slidecaption"/> -->
<!-- <p style="color: white" > Loading... </p> -->
</ngx-spinner>

<div id="main">
<section id="home" class="top_cont_outer contanier">
  <div class="top_cont_inner">
    <div class="">
      <div class="top_content pad-0">
        <carousel [interval]=2000 [showIndicators]="true" [noPause]="false">
          <slide class="fadding r-h-27vh">
            <img class="background-img  detail-bannerimg" src="{{banner_image}}"  />
            <!-- <div class="slide_text mob_f_3">
              Venue Detail
            </div> -->
          </slide>

        </carousel>
        <div class="inner-part center">
          <div class="col-8 mx-auto col-lg-8  col-md-8 col-xl-8 col-xs-8 r_greeting_format ">
            <p class="text-center">
              <b class="greeting_head">{{name}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row inner-part text-center mx-auto " style="margin-top: -5% !important;">
    <div class="col-12 inner-part mx-auto col-lg-4  col-md-4 col-xl-4 col-xs-4 float-left">
      <!-- <button class=" btn btn_danger mob_btn_pos inquery_btn  " data-toggle="modal" data-target="#sendInquiry">Send
        Inquery</button> -->
        <button class=" btn btn_danger mob_btn_pos inquery_btn  " (click)="openNav()">Send
          Inquery</button>
        
    </div>
    <div class="col-12 inner-part mx-auto col-lg-4  col-md-4 col-xl-4 col-xs-4 float-left">
      <span class='star-rating  col-sm-12 col-lg-3 col-md-3 col-xl-3 text-center '>
        <ng-container *ngIf='!sforDisplay'>
          <i *ngFor='let n of range; let $index = index;' class='fa to-rate' [ngClass]='sisMarked($index)'></i>
        </ng-container>
        <ng-container *ngIf='sforDisplay'>
          <i *ngFor='let n of range; let $index = index;' class="to-display fa" [ngClass]='sisMarked($index)'></i>
        </ng-container>
      </span>
    </div>
    <div class="col-xl-4 inner-part col-xs-4 col-lg-4 col-md-4 float-left">
      <a class="btn btn_danger mob_btn_pos mob_l_m_28 inquery_btn" href="{{location}}" style="color: #fff;"
        target="_blank"><i class="fa fa-map-marker"></i> Location</a>
    </div>
  </div>
</section>
<section class="container-fluid  inner-part" style="margin-top: 0%;">

  <div class="row" style="padding: 3%;">
    <div class="col-12 col-sm-12 col-lg-9 col-md-9 col-xl-9 float-left">
      <div class="">
        <!-- <div class="title_section col-12 col-sm-12 col-12 col-lg-12 col-md-12 col-xl-12 float-left">
            <div class="col-lg-6  float-left">
                <div class="pointer text-left"> </div>
  
            </div>
          <div class="price_text col-lg-6 float-right">
            
            
                     </div>
         
        </div> -->
        <!-- <div class="col-12 col-sm-12 col-4 col-lg-4 col-md-4 col-xl-4 float-left">
          <div class="like_display">
          </div>
        </div> -->

      </div>
      <!-- <carousel [interval]=2000 style="" [showIndicators]="true" [noPause]="true">
        <slide *ngFor="let s of images" class="fadding">
          <img class="background-img" class="v_carousel_img" src="{{s}}" />
        </slide>

      </carousel>
       -->

      <div class="row">
        <div *ngFor="let s of images" class="col-lg-3 col-6 float-left venues mr-b-4 venue-grid">
          <div class="venue-card" data-toggle="modal" data-target=".bd-example-modal-lg">
            <img src="{{s}}" class="grid_img" (click)="getimg(s)" />

            <div>

            </div>
          </div>

        </div>
      </div>

      <div class="row" *ngIf="videoArray.length != 0">
        <h6 class="col-12 col-lg-12 col-md-12 col-xl-12  videostroy_title">Video Story</h6>
        <div *ngFor="let v of videoArray; let i = index" class="col-6 col-sm-6 col-lg-2 col-md-2 col-xl-2  float-left"
          data-toggle="modal" data-target=".video_modal">
          <img src="http://img.youtube.com/vi/{{v.image}}/hqdefault.jpg" (click)="getvideo(v.link)"
            class="img-thumbnail" />

        </div>

      </div>
    </div>


    <div class="v_despcol-12 back-part mr-t-2 col-sm-12 col-xl-3 col-sm-3 col-md-3 he-24">
      <h4>Details</h4>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td>

              <div class="detail_block  float-left">
                <h5 class="detail_title">Area</h5>
                <p>{{area}}</p>
              </div>
            </td>
            <td>
              <div class="detail_block  float-left">
                <h5 class="detail_title">Parking area</h5>
                <p>{{p_area}}</p>
              </div>
            </td>
            <td>

              <div class="detail_block  float-left">
                <h5 class="detail_title">capacity</h5>
                <p>{{capasity}} Person</p>
              </div>
            </td>

            </tr>
          <tr>
            <td>
              <div class="detail_block  float-left">
                <h5 class="detail_title">Out side catering   </h5>
                <p>{{catring}}</p>
              </div>

            </td>
            <td>
              <div class="detail_block  float-left">
                <h5 class="detail_title">Theme Decoration</h5>
                <p>{{theme}}</p>
              </div>

            </td>
            <td>
              <div class="detail_block  float-left">
                <h5 class="detail_title">Time Duration </h5>
                <p>{{time}}</p>
              </div>


            </td>
          </tr>
        </table>
      </div>

<br />
<br />
<div class="v_desp back-part">
  <h4><u>Address</u></h4>
  <div class="detail_block col-12 col-sm-12 col-12 col-xl-12 col-sm-12 col-md-12 float-left">
    <!-- <h5 class="detail_title">Area</h5> -->
    <p>{{address}}</p>
  </div>
<br/>
<br/>
<br/>

<br/>
<br/>
<br/>

 
  <h4>Summrary</h4>
  <p>
    {{detail}}
  </p>
</div>
    </div>

    <div class="col-12 col-sm-12 col-lg-9 col-md-9 col-xl-9 float-left send_btn mob_mr_t-13 ">
      <!-- <div class="star-rating ">
        <span class="fa fa-star-o"  data-rating="1"></span>
        <span class="fa fa-star-o"  data-rating="2"></span>
        <span class="fa fa-star-o"  data-rating="3"></span>
        <span class="fa fa-star-o"  data-rating="4"></span>
        <span class="fa fa-star-o"  data-rating="5"></span>
        <input type="hidden" name="whatever1" class="rating-value" value="3">
      </div> -->





      
      <div class="mr-t-9 feedback-scroll v_desp back-part" *ngIf="review.length !=0 || customer == true">
        <h4>Testimonial</h4>
        <!-- <div class="star-rating  col-lg-6 float-right   text-right" *ngIf="customer == false">
          <span class="fa fa-star-o"  data-rating="1"></span>
          <span class="fa fa-star-o"  data-rating="2"></span>
          <span class="fa fa-star-o"  data-rating="3"></span>
          <span class="fa fa-star-o"  data-rating="4"></span>
          <span class="fa fa-star-o"  data-rating="5"></span>
          <input type="hidden"  class="rating-value" >
        </div>  -->
        <!-- <div class="testimonial_user" *ngIf="customer == false">
          <div class="form-group" style="text-align:center ;">
            <button class="btn btn-success form-control login_btn_t" style="width: 10%;" data-toggle="modal" data-target="#review">Login</button>
          </div>
        </div> -->

        <div class="testimonial_user">
          <div *ngIf="customer == true">
            <!-- <div class="col-lg-6 float-left">
              <i class="fa fa-user test_user"></i>
            </div>           -->

            <form #frm4="ngForm" (ngSubmit)="addFeedback();">
              <span class='star-rating col-lg-6 float-right  text-right'>
                <ng-container *ngIf='!forDisplay'>
                  <i *ngFor='let n of range; let $index = index;' class='fa to-rate' (click)='mark($index)'
                    [ngClass]='isMarked($index)'></i>
                </ng-container>
                <ng-container *ngIf='forDisplay'>
                  <i *ngFor='let n of range; let $index = index;' class="to-display fa"
                    [ngClass]='isMarked($index)'></i>
                </ng-container>
              </span>
              <!-- <div class="star-rating col-lg-6 float-right text-right">
                    <span class="fa fa-star-o"  data-rating="1"></span>
                    <span class="fa fa-star-o"  data-rating="2"></span>
                    <span class="fa fa-star-o"  data-rating="3"></span>
                    <span class="fa fa-star-o"  data-rating="4"></span>
                    <span class="fa fa-star-o"  data-rating="5"></span>
                    <input type="hidden"  name="rat" [(ngModel)]="rat" value="4"  class="rating-value" >
                  </div> -->
              <div class="form-group">
                <textarea rows="5" class="form-control w-100" #fback="ngModel" required name="feedback" [(ngModel)]="feedback" maxlength="200"
                  placeholder="Enter your feedback here.... "></textarea>
              </div>
              <div class="form-group">
                <button class="form-control btn btn-danger feedback-submit"
                 [disabled]="frm4.invalid" type="submit"  style="">Submit</button>
                <!-- <input class="form-control btn btn-danger" *ngIf="customer == false" type="button" value="Submit" data-toggle="modal" data-target="#review" /> -->
              </div>
            </form>
          </div>
          <!-- <div class="testimonial_user">
                <div>
                  <div class="col-lg-6 float-left">
                    <i class="fa fa-user test_user"></i>Chirag Ramani 
                  </div>          
                  <div class="star-rating col-lg-6 float-right   text-right">
                      <span class="fa fa-star-o"  data-rating="1"></span>
                      <span class="fa fa-star-o"  data-rating="2"></span>
                      <span class="fa fa-star-o"  data-rating="3"></span>
                      <span class="fa fa-star-o"  data-rating="4"></span>
                      <span class="fa fa-star-o"  data-rating="5"></span>
                      <input type="hidden" name="whatever1" class="rating-value" value="3">
                    </div> 
                  
                  </div>
                <div class="review">
                  This party plot is best in Rajkot
                </div>
              </div> -->
          <div *ngFor="let r of review; let i =index;" class="testimonial_user">
            <ng-container *ngIf="review[review.length-i-1] as re">
              <div>
                <div class="col-lg-6 review_nm float-left">
                  <i class="fa fa-user test_user"></i> {{re.c_name}}
                </div>
                <div class="star-rating col-lg-6 float-right   text-right">
                  <!-- <span class="fa fa-star-o"  data-rating="1"></span>
                        <span class="fa fa-star-o"  data-rating="2"></span>
                        <span class="fa fa-star-o"  data-rating="3"></span>
                        <span class="fa fa-star-o"  data-rating="4"></span>
                        <span class="fa fa-star-o"  data-rating="5"></span>
                        <input type="hidden" name="whatever1" class="rating-value" value="3"> -->
                  <!-- <span class="review_span">
                    {{re.rating}}/5
                  </span> -->
                  <div class="rating">{{re.rating}}/5 <i class="fa fa-star"></i></div>
                </div>

              </div>
              <div class="review">
                {{re.commnet}}
              </div>

            </ng-container>
          </div>
        </div>




      </div>
    </div>

  </div>

</section>
</div>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog  modal-full    ">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Video Stroy</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{playvideo}}" allowfullscreen></iframe>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal_video" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal img-carousel fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog r-dialogbox modal-lg" style="text-align:center">
  <div class="modal-content" style="display:contents; text-align:center">
    <!-- <img src="{{photo_img}}" class="img-fluid h-70vh" style="height: 70vh;" /> -->
    <carousel class=" carousel slide"  [showIndicators]="true">
        <slide class="carousel-inner" *ngFor="let s of images; let index=index">
            <img class="background-img carousel_img " src="{{s}}" />
            <div class="carousel-caption">
          
            </div>
        </slide>
     
    </carousel>

    
  </div>
</div>
</div>




<div class="modal fade video_modal bd-example-modal-lg" id="mainvideomodel" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <iframe class="embed-responsive-item h-70vh" id="videopopup" src="{{playvideo}}" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- send Inquiry -->

<div class="modal" id="sendInquiry">
  <div class="modal-dialog  modal-full    ">
    <div *ngIf="customer == true" class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Send Inquiry</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form #frm1="ngForm" (ngSubmit)="sendInquiry(date)">

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <label for="fname" class=""> Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control form_control_m" #name="ngModel"
             required id="name" name="cname"
              [(ngModel)]="cname" laceholder="Enter your Name">
            <div *ngIf="name?.touched">
              <div class="red-text left" *ngIf="name.errors?.required">
                Name Required*
              </div>

            </div>
          </div>
          <div class="form-group">
            <label for="fname" class="">Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control form_control_m" #mail="ngModel"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required id="email" name="cemail"
              [(ngModel)]="cemail" placeholder="enter your Email">
            <div *ngIf="mail?.touched">
              <div class="red-text left" *ngIf="mail.errors?.required">
                Email Required*
              </div>
              <div class="red-text left" *ngIf="mail.errors?.pattern">
                Please Enter valid Email*
              </div>

            </div>
          </div>
          <div class="form-group">
            <label for="fname" class="">Mobile No <span class="text-danger">*</span></label>
            <input type="text" class="form-control form_control_m" minlength="10" maxlength="10" #mobile="ngModel"
              pattern="[0-9]+" required id="mno" name="mno" [(ngModel)]="mno" placeholder=" enter your Mobile no">
            <div *ngIf="mobile?.touched">
              <div class="red-text left" *ngIf="mobile.errors?.required">
                Contact No Required*
              </div>
              <div [hidden]="!mobile?.hasError('minlength')" class="red-text">
                Please enter valid Contact No
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="fname" class="">Booking Date <span class="text-danger">*</span></label>
            <my-date-picker name="booking" name="date" [(ngModel)]="date" [placeholder]="placeholder"
              [options]="myDatePickerOptions" style="margin-left: -2%;" (dateChanged)="datefilter($event)" required>
            </my-date-picker>

            <!-- <input type="date" class="form-control form_control_m" id="date" name="date" [(ngModel)]="date" placeholder="Enter your Date"> -->
          </div>
          <div class="form-group">
            <label for="fname" class="">No of Person <span class="text-danger">*</span></label>
            <input type="text" class="form-control form_control_m" #no="ngModel" pattern="[0-9]+" required id="Person"
              name="person" [(ngModel)]="person" placeholder="Enter No of Person">

            <div *ngIf="no?.touched">
              <div class="red-text left" *ngIf="no.errors?.required">
                No Person Required*
              </div>
              <div class="red-text left" *ngIf="no.errors?.pattern">
                Please input only number*
              </div>

            </div>
          </div>

          <div class="form-group">
            <label for="fname" class="">purpose <span class="text-danger">*</span></label>
            <input type="text" class="form-control form_control_m" #purposed="ngModel" required id="purpose"
              name="purpose" [(ngModel)]="purpose" placeholder="Please Write a purpose why are you need this place.">
            <div *ngIf="purposed?.touched">
              <div class="red-text left" *ngIf="purposed.errors?.required">
                Please Enter your Purpose Why Are you send this Inquiry*
              </div>

            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" [disabled]="frm1.invalid" class="btn btn-success w-100">Send</button>
        </div>
      </form>
    </div>
    <div *ngIf="customer == false" class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Customer Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <form (ngSubmit)="login()">
          <div class="errormsg">{{errormsg}}</div>
          <div class="form-group">
            <label for="fname" class="">Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control form_control_m" id="email" name="email" [(ngModel)]="email"
              placeholder="enter your Email">
          </div>

          <div class="form-group">
            <label for="fname" class="">Password <span class="text-danger">*</span></label>
            <input type="password" name="password" [(ngModel)]="password" class="form-control form_control_m"
              id="purpose" placeholder="Enter your password .">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-success w-100" value="Login" />
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>

<!-- review -->
<div class="modal" id="review">
  <div class="modal-dialog  modal-full    ">
    <div *ngIf="customer == false" class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Customer Login</h4>

        <button type="button" class="close" data-dismiss="modal">&times;</button>

      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="errormsg">{{errormsg}}</div>

        <form #frm2="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="fname" class="">Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control form_control_m" id="email" name="email" [(ngModel)]="email"
              placeholder="enter your Email">
          </div>

          <div class="form-group">
            <label for="fname" class="">Password <span class="text-danger">*</span></label>
            <input type="password" name="password" [(ngModel)]="password" class="form-control form_control_m"
              id="purpose" placeholder="Enter your password .">
          </div>
          <div class="form-group">
            <input type="submit" [disabled]="frm2.invalid" class="btn btn-success w-100" value="Login" />
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>


<div id="sendsuccess" class="modal fade" >
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="icon-box">
          <!-- <i class="fa fa-check"></i> -->
        </div>				
        <h4 class="modal-title"></h4>	
      </div>
      <div class="modal-body">
        <p class="text-center">Thank you for choose our service your Inquiry has been recived we contact you soon !  <br>Thank You !</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block"  data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
<script type="text/javascript">
  $('#modal_video').click(function () {
    $('#video').pause();
  });

</script>

<div id="overlay" (click)="closeNav()"></div>
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
  <form #frm1="ngForm" *ngIf="customer == true" (ngSubmit)="sendInquiry(date)">

  <div class="form-group">
    <label for="fname" class=""> Name <span class="text-danger">*</span></label>
    <input type="text" class="form-control form_control_m" #name="ngModel"
     required id="name" name="cname"
      [(ngModel)]="cname" laceholder="Enter your Name">
    <div *ngIf="name?.touched">
      <div class="red-text left" *ngIf="name.errors?.required">
        Name Required*
      </div>

    </div>
  </div>
  <div class="form-group">
    <label for="fname" class="">Email <span class="text-danger">*</span></label>
    <input type="email" class="form-control form_control_m" #mail="ngModel"
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required id="email" name="cemail"
      [(ngModel)]="cemail" placeholder="enter your Email">
    <div *ngIf="mail?.touched">
      <div class="red-text left" *ngIf="mail.errors?.required">
        Email Required*
      </div>
      <div class="red-text left" *ngIf="mail.errors?.pattern">
        Please Enter valid Email*
      </div>

    </div>
  </div>
  <div class="form-group">
    <label for="fname" class="">Mobile No <span class="text-danger">*</span></label>
    <input type="text" class="form-control form_control_m" minlength="10" maxlength="10" #mobile="ngModel"
      pattern="[0-9]+" required id="mno" name="mno" [(ngModel)]="mno" placeholder=" enter your Mobile no">
    <div *ngIf="mobile?.touched">
      <div class="red-text left" *ngIf="mobile.errors?.required">
        Contact No Required*
      </div>
      <div [hidden]="!mobile?.hasError('minlength')" class="red-text">
        Please enter valid Contact No
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="fname" class="">Booking Date <span class="text-danger">*</span></label>
    <my-date-picker name="booking" name="date" [(ngModel)]="date" [placeholder]="placeholder"
      [options]="myDatePickerOptions" style="margin-left: -2%;" (dateChanged)="datefilter($event)" required>
    </my-date-picker>

    <!-- <input type="date" class="form-control form_control_m" id="date" name="date" [(ngModel)]="date" placeholder="Enter your Date"> -->
  </div>
  <div class="form-group">
    <label for="fname" class="">No of Person <span class="text-danger">*</span></label>
    <input type="text" class="form-control form_control_m" #no="ngModel" pattern="[0-9]+" required id="Person"
      name="person" [(ngModel)]="person" placeholder="Enter No of Person">

    <div *ngIf="no?.touched">
      <div class="red-text left" *ngIf="no.errors?.required">
        No Person Required*
      </div>
      <div class="red-text left" *ngIf="no.errors?.pattern">
        Please input only number*
      </div>

    </div>
  </div>

  <div class="form-group">
    <label for="fname" class="">purpose <span class="text-danger">*</span></label>
    <input type="text" class="form-control form_control_m" #purposed="ngModel" required 
      name="purpose" [(ngModel)]="purpose" placeholder="Please Write a purpose why are you need this place.">
    <div *ngIf="purposed?.touched">
      <div class="red-text left" *ngIf="purposed.errors?.required">
        Please Enter your Purpose Why Are you send this Inquiry*
      </div>

    </div>
  </div>

    <div class="form-group">
      <button type="submit" [disabled]="frm1.invalid" class="btn btn-success w-100">Send</button>
          </div>
       </form>
        <!-- Modal footer -->
        <form *ngIf="customer == false" (ngSubmit)="login()">
          <div class="form-group">
            <label for="fname" class="">Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control form_control_m" id="email" name="email" [(ngModel)]="email" placeholder="enter your Email">
          </div>
         
          <div class="form-group">
            <label for="fname" class="">Password <span class="text-danger">*</span></label>
            <input type="password" name="password" [(ngModel)]="password" class="form-control form_control_m" id="purpose"
              placeholder="Enter your password .">
          </div>
          <div class="form-group" style="text-align: center;">
            <input type="submit" class="btn btn-success " style="width: 30%;"  value="Login" />
          </div>
        </form>
<!-- </div> -->
</div>