<app-header></app-header>
<!-- <ngx-spinner
bdOpacity = 0.9
bdColor = "#fff"
size = "large"
color = "#000000"
type = "ball-clip-rotate"
[fullScreen] = "true"
>
</ngx-spinner> -->
<ngx-spinner bdOpacity=0.9 bdColor="#fff" [fullScreen]="true">
    <img src="../../assets/image/animated_loader.gif" class="img-fluid " id="slidecaption" />

    <!-- <img src="../../assets/image/loading.png" class="img-fluid "  id="slidecaption"/> -->
    <!-- <p style="color: white" > Loading... </p> -->
</ngx-spinner>


<div class="col-12 col-lg-12 col-md-12 col-xs-12 col-xl-12 text-center pad-0">
    <div class="s_header-part ">

    </div>
</div>

<div class=" col-lg-12 col-md-12 col-xl-12 mr-b-36 ">
    <!-- <div class=" col-lg-3 col-md-3 col-xl-3 float-left pos-fix">
    <div class="v_profile_section">
      <div class="text-center user-photo-section">
        <img src="../../assets/image/user/user.png" class="img-fluid user_profile_img" />
      </div>
      <div class="mr-t-8">
        <div class="profile_menu">
        <a href ="#profile">  My detail </a>
        </div>
        <div class="profile_menu">
         <a href="#Wishlist"> Wishlist</a>
        </div>
        <div class="profile_menu">
          <a href="#myvenue" >My Venue</a>
        </div>
        <div class="profile_menu" data-toggle="modal" data-target="#cpassword">
          Change Password
        </div>

        <div class="profile_menu">
          <a href="#myvendors">My Vendors</a>
        </div>

        <div class="profile_menu" (click)="logout()">
          Logout
        </div>
      </div>

    </div>
  </div> -->


    <div class="col-lg-12 col-md-12 col-xl-12 " style="margin-top: 4%;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" (click)="showhideMenu(0)" role="tab" aria-controls="profile" aria-selected="true">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="venues-tab" data-toggle="tab" (click)="showhideMenu(1)" role="tab" aria-controls="venues" aria-selected="false">My Venues</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="vendors-tab" data-toggle="tab" (click)="showhideMenu(2)" role="tab" aria-controls="contact" aria-selected="false">My Vendors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="vendors-tab" data-toggle="tab" data-toggle="modal" data-target="#cpassword" role="tab" aria-controls="contact" aria-selected="false">change Password</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" (click)="logout()" aria-controls="contact" aria-selected="false">Logout </a>
            </li>
        </ul>
        <!-- <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">abc</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div> -->
    </div>
    <!-- content section -->
    <div style="margin-top: 2%;">
        <div *ngIf="profileshow == true" id="profile" class="col-sm-12 col-12 col-lg-10 col-md-10 col-xl-10 float-right p_main_section">
            <div>
                <div class="text-center venueprofile_head s_headding-text">
                    welcome to your Dashboard <b>{{displayname}}</b> !
                </div>
                <form (ngSubmit)="customerUpdate()">
                    <div class="col-12 col-sm-12 col-6 col-lg-6 col-md-6 col-xl-6 float-left ">
                        <div class="form-group">
                            <label for="fname">Your Name</label>
                            <input type="text" class="form-control" id="fname" name="name" [(ngModel)]="name" placeholder="First Name">
                        </div>

                        <div class="form-group">
                            <label for="mobileno">Mobile No.</label>
                            <input type="text" class="form-control" id="mobileno" placeholder="Mobile No" name="contactno" [(ngModel)]="contactno">
                        </div>
                        <!-- <div class="form-group">
            <label for="formGroupExampleInput">Address</label>
            <textarea placeholder="Address" class="w-100" cols="41" rows="3"></textarea>
          </div> -->
                    </div>
                    <div class="col-12 col-sm-12 col-6 col-lg-6 col-md-6 col-xl-6 float-left">
                        <!-- <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" placeholder="Last Name">
          </div> -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="email" [(ngModel)]="email" class="form-control" id="email" placeholder="Email">
                        </div>

                        <!-- <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="First Name">
          </div> -->
                        <!-- <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" placeholder="First Name">
          </div> -->
                        <div class="form-group">
                            <input type="submit" class="float-right btn btn-success" id="state" value="update">
                        </div>

                    </div>
                </form>
            </div>
            <div>

            </div>
        </div>
        <!-- <div id="Wishlist" class="col-lg-8 col-md-8 col-xl-8 mr-t-5 float-right p_main_section">
      <div>
          <div class="text-center venueprofile_head s_headding-text">
              Wishlist
            </div>
        <form action="">
          <div class="">
            <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left  mr-b-1">
              <div class="card card-content ">
                <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                <div class="card-city_name card-title">
                  thakar part plot, rajkot
                </div>

              </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left  mr-b-1">
              <div class="card card-content ">
                <img src="../../assets/image/Ahmedabad.jpg" class="img-fluid p-card-img" />
                <div class="card-city_name card-title">
              Radhe catering, Ahmedabad
                </div>

              </div>
            </div>

          </div>
        </form>
      </div>
      <div>

      </div>
    </div> -->
        <div *ngIf="venueShow" id="myvenue" class="col-lg-10 col-md-10 col-xl-10 mr-t-5 float-right p_main_section">
            <div>
                <div class="text-center venueprofile_head s_headding-text">
                    Your booked Venues
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#No</th>
                            <th>Venue Name</th>
                            <th>Inquiry Date</th>
                            <th>Booking Date</th>
                            <th>No Of person</th>
                            <th scope="col">Detail</th>

                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="venueinquiry != null">
                            <tr *ngFor="let i=index">
                                <ng-container *ngFor="let iq of venueinquiry; let i=index ">
                                    <!-- <ng-container *ngFor= "let iq of inq[i].inquirydata" > -->

                                    <th scope="row">{{i+1}}</th>
                                    <td>{{iq.venuename}} </td>
                                    <td>{{iq.inquirydate}} </td>
                                    <td>{{inquiry.bookingdate}} </td>
                                    <!-- <td>{{inquiry.customer_name}}</td> -->
                                    <td>{{iq.No_of_person}}</td>
                                    <td>{{iq.purpose}}</td>
                                    <!-- </ng-container> -->
                                </ng-container>
                            </tr>
                        </ng-container>


                    </tbody>
                </table>
            </div>
            <div>

            </div>
        </div>
        <div *ngIf="venueShow" id="myvendors" class="col-lg-10 col-md-10 col-xl-10 mr-t-5 float-right p_main_section">
            <div>
                <div class="text-center venueprofile_head s_headding-text">
                    Your booked Vendors
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#No</th>
                            <th>Vendor Name</th>
                            <th>Inquiry Date</th>
                            <th>Booking Date</th>
                            <th>location</th>
                            <th scope="col">Detail</th>

                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="vendorinquiry != []">
                            <tr *ngFor="let inquiry of vendorinquiry; let i=index">
                                <!-- <ng-container *ngIf="inquiry[inq.length-i-1] as ie"> -->
                                <th scope="row">{{i+1}}</th>
                                <td>{{inquiry.vendorname}} </td>
                                <td>{{inquiry.inquirydate}} </td>
                                <td>{{inquiry.bookingdate}} </td>
                                <!-- <td>{{inq.customer_name}}</td> -->
                                <td>{{inquiry.location}}</td>
                                <td>{{inquiry.purpose}}</td>
                                <!-- </ng-container> -->
                            </tr>
                        </ng-container>


                    </tbody>
                </table>
            </div>
            <div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="cpassword">
    <div class="modal-dialog  modal-full    ">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 l12 m12 error_msg" *ngIf="pwdsucess != null">
                    <div class="green-text right">
                        {{pwdsucess}}
                    </div>
                </div>
                <div class="col s12 l12 m12 error_msg" *ngIf="pwderror != null">
                    <div class="red-text right">
                        {{pwderror}}
                    </div>
                </div>
            </div>
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form #myForm="ngForm" (ngSubmit)="changePassword()">
                    <div class="form-group">
                        <label for="fname" class="">Current Password</label><span class="text-danger">*</span>
                        <input type="password" class="form-control form_control_m" id="cpwd" name="cpwd" [(ngModel)]="cpwd" placeholder="enter your Current Password">
                    </div>

                    <div class="form-group">
                        <label for="fname" class="">Password</label><span class="text-danger">*</span>
                        <input type="password" name="npwd" [(ngModel)]="npwd" class="form-control form_control_m" id="purpose" placeholder="Enter your New password .">
                    </div>

                    <div class="form-group">
                        <label for="fname" class="">Confirm Password</label><span class="text-danger">*</span>
                        <input type="password" name="confirmpwd" [(ngModel)]="confirmpwd" class="form-control form_control_m" id="purpose" placeholder="Enter your New password .">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success w-100" value="Login" />
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

<!-- Modal HTML -->
<div id="successpwd" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Awesome!</h4>
            </div>
            <div class="modal-body">
                <div class="icon-box" style="font-size: 46px;  text-align: center; color: #15c415;">
                    <i class="fa fa-check"></i>
                </div>
                <p class="text-center" style="font-size: 18px; color: #15c415;">Password update sucessfully.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->
