<!-- <app-header></app-header> -->
<!-- <ngx-spinner bdOpacity=0.9 bdColor="#fff" size="large" color="#000000" type="ball-clip-rotate" [fullScreen]="true">
</ngx-spinner> -->

<app-header></app-header>
<ngx-spinner bdOpacity=0.9 bdColor="#fff" [fullScreen]="true">
    <img src="../../assets/image/animated_loader.gif" class="img-fluid " id="slidecaption" />
    <!-- <img src="../../assets/image/loading.png" class="img-fluid "  id="slidecaption"/> -->
    <!-- <p style="color: white" > Loading... </p> -->
</ngx-spinner>

<section id="home" class="top_cont_outer">
    <div class="top_cont_inner">
        <div class="">
            <div class="top_content pad-0">
                <carousel class=" carousel slide" [interval]=3000 [showIndicators]="true">
                    <slide class="carousel-inner" *ngFor="let s of homeslider; let index=index">
                        <img class="background-img carousel_img_home " src="{{s.image}}" />
                        <div class="carousel-caption">

                            <!-- <h3 class="slide_head">The Wedding Venue</h3>
                            <p class="slide_cap mr-r-l-8">We Are serve best location  for your any type of Function.</p> -->
                        </div>
                        <!-- <div class="slide_text">
                            <input type="text" class="form-control searchinput" id="vendorSearch" name="vendorSearch" [(ngModel)]="vendorSearch"
                            placeholder="Search your favourite Category . . .">
                          </div> -->
                    </slide>
                    <!-- <slide class="fadding">
                        <img class="background-img " class="carousel_img" src="../../assets/image/desktop_bg.jpg" />
                    </slide> -->

                </carousel>
                <!-- <div class=" center">
                    <div class="col-8 mx-auto col-lg-8  col-md-8 col-xl-8 col-xs-8 greeting_format ">
                        <p class="text-center">
                            Hassle Free Planning & Booking at Our Guaranteed Best Prices.
                            <br /> <i class="fa fa-star star"></i> Events Organized till Date <i
                                class="fa fa-star star"></i>
                            <br /> Present in your city
                            Over Top Wedding Venues & Vendors is Here</p>
                    </div>

</div> -->
                <!--
              <div>
                <div>
                  <img class="img-responsive" src="./assets/img/side-bg.jpg" alt="" width="100%">
                </div>
              </div> -->

            </div>
        </div>
    </div>
</section>
<div class="wapper parallax">
    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12  home-section-back">
                <h1 class="home-second-hedding"><u style="text-underline-position: under;">The</u> &nbsp; <u style="text-underline-position: under;">Venues</u>

                </h1>
                <div class="head-title">Glimpse through the latest trends – handpicked by us, for you.

                </div>
                <hr class="title">
                <div class="col-6 col-lg-3 col-md-3 col-xl-3 col-xs-12 float-left   mr-b-1" *ngFor="let venue of venue_category | filter:vendorSearch; " data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                    <a [routerLink]="['/Venues/',venue._id]">
                        <div class="card">
                            <img src="{{venue.image}}" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text"><a> {{venue.venue_cat_name}} </a></p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- <div *ngFor="let venue of venue_category | filter:vendorSearch; "  data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="300"
                data-aos-offset="0"
                    class="col-6 col-lg-3 col-md-3 col-xl-3 col-xs-12 float-left   mr-b-1">
                    <a [routerLink]="['/Venues/',venue._id]">
                        <div class=" card-con mr-b-6  ">

                            <img src="{{venue.image}}" class="img-fluid img-thumbnail img-responsive p-card-img " />

                            <div class="text-center ">
                            </div>
                            <div class="card-bottom home_title_name text-center">
                                <a> {{venue.venue_cat_name}}</a>
                            </div>

                        </div>
                    </a>
                </div> -->
            </div>
            <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12 mr-b-8 r-mr-l-r-2 home-section-back">


                <h1 class="home-second-hedding"><u style="text-underline-position: under;">The </u> &nbsp;<u style="text-underline-position: under;"> Vendors</u>
                </h1>
                <div class="head-title">Glimpse through the latest trends – handpicked by us, for you.
                </div>
                <hr class="title">
                <!-- <div  data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="300"
                data-aos-offset="0"
                    class="col-6 col-lg-3 col-md-3 col-xl-3 col-xs-6  float-left">
                    <a [routerLink]="['/PremiumPhotographer']">
                        <div class=" mr-b-6 card-con  ">
                            <img src="{{primeadsphoto}}" class="img-fluid p-card-img " />
                            <div class="text-center">
                                <div class="card-bottom-p home_title_name text-center">
                                    <a>Prime Photographers</a>
                                </div>
                            </div>

                        </div>
                    </a>
                </div> -->
                <div class="col-6 col-lg-3 col-md-3 col-xl-3 col-xs-12 float-left   mr-b-1" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                    <a [routerLink]="['/PremiumPhotographer']">
                        <div class="card">
                            <img src="{{primeadsphoto}}" class="card-img-top">
                            <div class="card-body home_title_name text-center">
                                <a>Prime Photographers</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-lg-3 col-md-3 col-xl-3 col-xs-12 float-left   mr-b-1" *ngFor="let vendor of vendor_category | filter:vendorSearch;" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                    <a [routerLink]="['/vendors/',vendor._id]">
                        <div class="card">
                            <img src="{{vendor.image}}" class="card-img-top">
                            <div class="card-body">
                                <a>{{vendor.vendor_cat_name}}</a>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- <div *ngFor="let vendor of vendor_category | filter:vendorSearch;"  data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="300"
                data-aos-offset="0"
                    class="col-6 col-lg-3 col-md-3 col-xl-3 col-xs-12 float-left mr-b-1">
                    <a [routerLink]="['/vendors/',vendor._id]">
                        <div class=" mr-b-6 card-con ">
                            <img src="{{vendor.image}}" class="img-fluid img-thumbnail img-responsive p-card-img " />
                            <div class="text-center ">
                            </div>
                            <div class="card-bottom home_title_name text-center">
                                <a>{{vendor.vendor_cat_name}}</a>
                            </div>

                        </div>
                    </a>
                </div> -->

            </div>
            <!-- main part end -->
            <!-- second part start -->
            <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12 mr-b-8 home-section-back">
                <h1 class="home-second-hedding">How it's Work</h1>
                <hr class="title">
                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3  float-left" data-aos-anchor-placement="center-center">
                    <div class="card border-none pad-t-b-5 inner-part text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_discover.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title"> Discover & Shortlist </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3  float-left" data-aos-anchor-placement="center-center">
                    <div class="card border-none pad-t-b-5 inner-part text-center">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_book.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title">Book Venue </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3  float-left" data-aos-anchor-placement="center-center">
                    <div class="card border-none text-center inner-part pad-t-b-5">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_vendor.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title">Book Vendors</div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3  float-left" data-aos-anchor-placement="center-center">
                    <div class="card border-none text-center  inner-part pad-t-b-5">
                        <div class="how-work-icon ">
                            <img src="../../assets/image/icon/home_visits.png" class="img-fluid" />
                        </div>
                        <div class="how-work-title"> Guided Visits </div>
                        <div class="how-work-desp">Input your requirements & see our recommendations & prices.</div>
                    </div>
                </div>
            </div>
            <!-- second part end -->

            <!-- second part start -->
            <div class="col-12 col-lg-12  col-md-12 col-xl-12 col-xs-12 mr-b-8 home-section-back">
                <div class="home-second-hedding">Let's Talk to Business</div>
                <hr class="title">
                <div class="col-12 col-lg-6 col-md-6 col-xl-6 col-xs-12   float-left">
                    <div class="card border-none inner-part text-center">

                        <div class="contact-text">
                            <i class="fa fa-whatsapp wp-icon"></i> &nbsp;&nbsp;
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=919853225322&text=">+91 98 5322
                                5322 </a>
                        </div>
                        <div class="contact-text">
                            <i class="fa fa-envelope email-icon"></i> &nbsp;&nbsp; <a href="mailto:info@wediina.com">
                                info@wediina.com</a>
                        </div>
                        <div>
                            <a style="color:black" href="https://www.facebook.com/Wediina-The-wedding-solution-112484590156039/?ref=aymt_homepage_panel&eid=ARC0Rwow5ReVhuJdN5kip9hL41ULNOMWDYr7sR10CBptE3rOpe6pocWkWwI2DaP3ppmBcJF6hhGZTyGU" target="_blank"><i class="fa fa-facebook social-icon"></i></a>
                            <a href="https://www.instagram.com/wediina_rajkot/" target="_blank" style="color:black"><i class="fa fa-instagram social-icon"></i></a>
                            <!-- <i class="fa fa-facebook"></i> -->
                            <i class="fa fa-twitter social-icon"></i>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6 col-md-6 col-xl-6 col-xs-12  float-left">
                    <div class="card  pad-5 inner-part  border-none text-center">
                        <form #frm1="ngForm" (ngSubmit)="contactSubmit()">
                            <div class="form-group">
                                <!-- <label for="exampleFormControlFile1">Example file input</label> -->
                                <input type="text" #company="ngModel" required ngModel class="form-control" id="name" [(ngModel)]="name" name="name" placeholder="Name">
                                <div *ngIf="company?.touched">
                                    <div class="red-text left" *ngIf="company.errors?.required ">
                                        Name Required*
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <label for="exampleFormControl1">Example  input</label> -->
                                <input type="email" #cemail="ngModel" required ngModel class="form-control" id="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" [(ngModel)]="email" placeholder="Email">
                                <div *ngIf="cemail?.touched">
                                    <div class="red-text left" *ngIf="cemail.errors?.required">
                                        Email Required*
                                    </div>
                                    <div class="red-text left" *ngIf="cemail.errors?.pattern">
                                        Please Enter valid Email*
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <label for="exampleFormControl1">Example  input</label> -->
                                <input type="text" class="form-control" minlength="10" maxlength="10" #mobile="ngModel" pattern="[0-9]+" required ngModel id="contact_no" name="contact_no" [(ngModel)]="contact_no" placeholder="Mobile No">

                                <div *ngIf="mobile?.touched">
                                    <div class="red-text left" *ngIf="mobile.errors?.required">
                                        Mobile No Required*
                                    </div>
                                    <div class="red-text left" *ngIf="mobile.errors?.pattern">
                                        Please enter valid Mobile No*
                                    </div>
                                    <div [hidden]="!mobile?.hasError('minlength')" class="red-text">
                                        Please enter valid Mobile No
                                    </div>
                                </div>


                            </div>
                            <div class="form-group">
                                <!-- <label for="exampleFormControl1">Example  input</label> -->
                                <input type="text" class="form-control" #cno="ngModel" required ngModel id="subject" placeholder="Subject" name="subject" [(ngModel)]="subject">
                                <div *ngIf="cno?.touched">
                                    <div class="red-text left" *ngIf="cno.errors?.required">
                                        Subject Required*
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <label for="exampleFormControl1">Example  input</label> -->
                                <textarea class="form-control" #cmsg="ngModel" required ngModel id="msg" name="msg" [(ngModel)]="msg" placeholder="Message" rows="5"></textarea>
                                <div *ngIf="cmsg?.touched">
                                    <div class="red-text left" *ngIf="cmsg.errors?.required">
                                        Please Leave your Message
                                    </div>

                                </div>
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="btn btn-success float-right" [disabled]="frm1.invalid">Submit</button>

                            </div>
                            <br />

                        </form>
                        <div *ngIf="successmsg!=null" class="contact-msg">{{successmsg}}</div>
                    </div>
                </div>


            </div>
            <!-- second part end -->
        </div>

    </div>

</div>
<!-- <app-foo   Suter></app-footer> -->
<div class="wapper blak text-center">
    <div class="footer" style="position: absolute;
        width: 100%;
        ">
        <div class="text-center">
            All rights reserved by Wediina.com
            <br /> Design and Developed by <a target="_blank" class="footer-link" href="http://globalbits.in/"> Globalbits
                Technology</a>
        </div>
    </div>

</div>


<div class="modal" id="homeadsModal">
    <div class="modal-dialog  modal-full    ">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body" style="padding: 0.2rem;">

                <carousel class=" carousel slide" [interval]=3000 [showIndicators]="true">
                    <slide class="carousel-inner" *ngFor="let s of homeslider; let index=index">
                        <img class="background-img carousel_img " style="margin-top:0 !important; " src="{{s.image}}" />
                        <div class="carousel-caption">


                        </div>
                        <!-- <div class="slide_text">
                            <input type="text" class="form-control searchinput" id="vendorSearch" name="vendorSearch" [(ngModel)]="vendorSearch"
                            placeholder="Search your favourite Category . . .">
                          </div> -->
                    </slide>
                    <!-- <slide class="fadding">
                        <img class="background-img " class="carousel_img" src="../../assets/image/desktop_bg.jpg" />
                    </slide> -->

                </carousel>
            </div>

        </div>
    </div>
</div>
