.searchinput{
    
    color: #fff;
    background: blur(10px);
    font-size: 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    /* width: 450px; */
    padding: 11px;
    background-size: 40px;
    /* margin: 15px; */
    /* height: 25px; */
    background-image: url('../../assets/image/search_icon.png');
    background-repeat: no-repeat;
    background-position: right;
}
