<app-header></app-header>
<ngx-spinner bdOpacity=0.9 bdColor="#fff" size="large" color="#000000"
 type="ball-clip-rotate" [fullScreen]="true">
<img src="../../assets/image/animated_loader.gif" class="img-fluid "  id="slidecaption"/>

</ngx-spinner>

<div class="col-12 col-lg-12 col-md-12 col-xs-12 col-xl-12 text-center pad-0">
  <div class="s_header-part ">

  </div>
</div>

<div class=" col-lg-12 col-md-12 col-xl-12 mr-b-36 ">
  <!-- <div class=" col-lg-3 col-md-3 col-xl-3 float-left pos-fixed">
    <div class="v_profile_section">
      <div class="text-center user-photo-section">
        <img src="../../assets/image/user/user.png" class="img-fluid user_profile_img" />
      </div>
      <div class="mr-t-8">
        <div class="profile_menu">
          <a href="#profile"> My detail</a>
        </div>
        <div class="profile_menu">
          <a href="#myvenue">My Venue</a>
        </div>
        <div class="profile_menu">
          <a href="#bookingdate"> Booking Close (Date)</a>
        </div>
        <div class="profile_menu" data-toggle="modal" data-target="#cpassword">
          Change Password
        </div>
       
        <div class="profile_menu">
          <a href="#myorder"> My Order</a>
        </div>
        <div class="profile_menu" (click)="logout()">
          Logout
        </div>
      </div>

    </div>
  </div> -->


  <div class="col-lg-12 col-md-12 col-xl-12 " style="margin-top: 4%;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" (click)="showhideMenu(0)" role="tab"
          aria-controls="profile" aria-selected="true">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="venues-tab" data-toggle="tab" (click)="showhideMenu(1)" role="tab"
          aria-controls="venues" aria-selected="false">My Venues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="vendors-tab" data-toggle="tab" (click)="showhideMenu(2)" role="tab"
          aria-controls="contact" aria-selected="false">My Vendors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="bookingDate-tab" data-toggle="tab" (click)="showhideMenu(3)" role="tab"
          aria-controls="contact" aria-selected="false"> Booking Close</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="inqury-tab" data-toggle="tab" role="tab" (click)="showhideMenu(4)"
          aria-controls="contact" aria-selected="false">My Inquiries </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="inqury-tab" data-toggle="tab" role="tab"  data-toggle="modal" data-target="#cpassword"
          aria-controls="contact" aria-selected="false">change Password </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()"
          aria-controls="contact" aria-selected="false">Logout </a>
      </li>
    </ul>
    <!-- <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">abc</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div> -->
  </div>
  <div style="margin-top: 2%;">

    <form (ngSubmit)="editDetail()">
      <!-- content section -->
      <div *ngIf="profileshow == true"
        class="  col-sm-12 col-12 col-lg-10 col-md-10 col-xl-10 float-right p_main_section">
        <div>
          <div class="text-center venueprofile_head s_headding-text">
               Hello, {{fname}} {{lname}}  Welcome to your Profile
          </div>
          <div class="col-sm-12 col-12 col-xs-12 col-6 col-lg-6 col-md-6 col-xl-6 float-left ">
            <div class="form-group">
              <label for="fname">First Name</label>
              <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="fname"
                placeholder="First Name">
            </div>


            <div class="form-group">
              <label for="mobileno">Mobile No.</label>
              <input type="text" class="form-control" id="mobileno" name="mno" [(ngModel)]="mno"
                placeholder="Mobile No">
            </div>


            <div class="form-group">
              <label for="formGroupExampleInput">Address</label>
              <textarea placeholder="Address" class="w-100" cols="41" name="address" [(ngModel)]="address"
                rows="3"></textarea>
            </div>
          </div>
          <div class="col-sm-12 col-12 col-xs-12 col-6 col-lg-6 col-md-6 col-xl-6 float-left">
            <div class="form-group">
              <label for="lname">Last Name</label>
              <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="lname"
                placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Email" name="email" [(ngModel)]="email">
            </div>
            <div class="form-group">
              <label for="cname">GST No.</label>
              <input type="text" class="form-control" id="cname" placeholder="" name="gst" [(ngModel)]="gst">
            </div>

            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="" name="city" [(ngModel)]="city">
            </div>
            <!-- <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" placeholder="state" name="state" [(ngModel)]="state">
          </div> -->
            <div class="form-group">
              <label for="state"></label>
              <input type="submit" class="float-right btn btn-success" id="state" value="Update">
            </div>

          </div>
        </div>
        <div>

        </div>
      </div>
      <div *ngIf="venueShow" class="  col-lg-10 col-md-10 col-xl-10 mr-t-5 float-right p_main_section">
        <div>
          <div class="text-center venueprofile_head s_headding-text">
            My Venues
          </div>
          <div class="col-sm-12 col-12 col-xs-12  col-lg-6 col-md-6 col-xl-6 float-left " style="z-index: 9;">
            <div class="form-group">
              <label for="fname">Venue Name</label>
              <input type="text" class="form-control" id="cname" name="cname" [(ngModel)]="cname"
                placeholder="Venue Name">
            </div>
            <div class="form-group">
              <label for="fname">Video Link</label>
              <input type="video" class="form-control" id="fname" name="videolink" [(ngModel)]="videolink"
                placeholder="">
            </div>
            <!-- <div class="form-group">
            <label for="mimage">Sub Image</label>
            <input type="file" class="form-control" id="mimage" name="p_img" [(ngModel)]="p_img"
              placeholder="Select Image">
          </div> -->

            <div class="form-group">
              <label for="fname">parking Area (sq.Ft.)</label>
              <input type="text" class="form-control" id="parking" name="parking" [(ngModel)]="parking"
                placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1" class=" ">Out Side Catring</label><span
                class="text-danger">*</span>
              <select class="form-control form_control_m" name="catring" [(ngModel)]="catring"
                id="exampleFormControlSelect1">
                <option value="Allowed">Allowed</option>
                <option value="Not Allowed">Not Allowed</option>
              </select>
            </div>
            <!-- <div class="form-group">
                    <label for="fname">Time permission</label>
                    <input type="time" class="form-control" id="fname" name="time"  [(ngModel)]="time" placeholder="First Name">
                  </div> -->


          </div>
          <div class="col-sm-12 col-12 col-xs-12 col-lg-6 col-md-6 col-xl-6 float-left" style="z-index: 9;">
            <div class="form-group">
              <label for="fname">Area (Sq.Ft.)</label>
              <input type="text" class="form-control" id="area" placeholder="Area (Sq.Ft.)" name="area"
                [(ngModel)]="area">
            </div>

            <!-- <div class="form-group">
            <label for="simage">Sub Image</label>
            <input type="file" multiple class="form-control" id="o_img" placeholder="Select sub Image">
          </div> -->
            <div class="form-group">
              <label for="fname">Capasity No. of Person</label>
              <input type="text" class="form-control" id="fname" name="capasity" [(ngModel)]="capasity"
                placeholder="No. of Person">
            </div>
            <div class="form-group">
              <label for="fname">Time permission</label>
              <input type="text" class="form-control" id="fname" name="timeper" [(ngModel)]="timeper"
                placeholder="Time permission">
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1" class=" ">Theme Decoration</label><span
                class="text-danger">*</span>
              <select class="form-control form_control_m" name="theme" [(ngModel)]="theme"
                id="exampleFormControlSelect1">
                <option value="Allowed">Allowed</option>
                <option value="Not Allowed">Not Allowed</option>
              </select>
            </div>



          </div>
          <div class="col-md-12">
            <div class="form-group">
              <!-- <label for="venue_detail"><b>Venue Detail </b></label> -->
              <textarea placeholder=" Enter your Venue Detail " name="desp" [(ngModel)]="desp" class="w-100"
                rows="10"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="state"> </label>
            <input type="submit" class="mr-t-13 float-right btn btn-success" id="state" value="Update">
          </div>


        </div>
        <div>

        </div>
      </div>
    </form>
    <!-- detail old venue -->
    <div *ngIf="venueShow" class class=" col-lg-10 col-md-10 col-xl-10 mr-t-5 float-right p_main_section">
      <div>
        <div class="venueprofile_head s_headding-text text-center">
          <label>{{cname}}</label>
          <!-- <label class="float-right">Price : 5,00,000</label> -->
        </div>
        <form (ngSubmit)="updateImage()">
          <div class="form-group">
            <label for="mimage">Main Image</label>
            <input type="file" class="form-control" (change)="imageUpload($event)" id="mimage" name="p_img"
              [(ngModel)]="p_img" placeholder="Select Image">
          </div>
          <button type="submit" class="btn btn-success float-right">Update</button> &nbsp;

        </form>
        <div class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left  mr-b-1">
          <div class=" card-content ">
            <img src="{{image}}" class="img-fluid p-card-img" />
            <div class="card-city_name card-title">

            </div>

          </div>
        </div>



        <form (ngSubmit)="updateOtherImage()">
          <div class="">
            <div class="form-group">
              <!-- <label for="simage">Su b Image</label> -->
              <input type="file" multiple class="form-control" (change)="otherImageUpload($event)" id="o_img"
                placeholder="Select sub Image">
              <button type="submit" class="btn btn-success float-right">Update</button> &nbsp;

            </div>

            <div *ngFor="let s of oimg" class="col-12 col-lg-3 col-md-3 col-xl-3 col-xs-3 float-left  mr-b-1">

              <div class=" card-content ">
                <img src="{{s}}" class="img-fluid p-card-img" />
                <div class="card-city_name card-title">
                  <i class="fa fa-trash" class="red-text" (click)="deleteimg(s)">Delete</i>
                </div>

              </div>
            </div>



            <div class="col-md-12">

            </div>

          </div>
        </form>
      </div>

    </div>
    <div *ngIf="bookingDateShow"
      class="  col-sm-12 col-12 col-xs-12 overflow-auto col-lg-10 col-md-10 col-xl-10 mr-t-5 float-right p_main_section">
      <div>
        <div class="text-center venueprofile_head s_headding-text">
          Booking close Date
        </div>
        <div class="text-right"><button class="btn btn-success" data-toggle="modal" data-target="#bookedDate">Add
            Date</button></div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#No</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let b of bookingdate; let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{b}}</td>
              <td><i class="fa fa-trash red-text" (click)="deleteDate(i)"></i></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div>
      </div>
    </div>
    <div *ngIf="inquryShow"
      class=" col-sm-12 col-12 col-xs-12 overflow-auto col-lg-10 col-md-10 col-xl-10 mr-t-5 float-right p_main_section">
      <div>
        <div class="text-center venueprofile_head s_headding-text">
          My Inquiries
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#No</th>
              <th>Inquiry Date</th>
              <th>Booking Date</th>
              <th scope="col">customer Name</th>
              <th scope="col">email</th>
              <th scope="col">Mobile No</th>
              <th scope="col">No of Person</th>
              <th scope="col">purpose</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let inq of inquiry; let i=index;">
              <ng-container *ngIf="inquiry[inq.length-i-1] as ie">

                <th scope="row">{{i+1}}</th>
                <td>{{inquiry.inquiry_date}} </td>
                <td>{{inquiry.booking_date}} </td>
                <td>{{inquiry.customer_name}}</td>
                <td>{{inquiry.email}}</td>
                <td>{{inquiry.mobileNo}}</td>
                <td>{{inquiry.no_of_person}}</td>
                <td width=100%>{{inquiry.purpose}}
                </td>
              </ng-container>

            </tr>


          </tbody>
        </table>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>


<div class="modal" id="bookedDate">
  <div class="modal-dialog  modal-full    ">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Booked Date</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <form (ngSubmit)="bookingDate(date)">
        <!-- Modal body -->
        <div class="modal-body">

          <div class="form-group">
            <label for="fname" class="">Add Booked Date only</label><span class="text-danger">*</span>
            <!-- <input type="date" name="date" [(ngModel)]="date" class="form-control" /> -->
            <my-date-picker name="date" [(ngModel)]="date" [options]="myDatePickerOptions" style="margin-left: -2%;">
            </my-date-picker>

          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-success w-100">Submit</button>
        </div>
      </form>

    </div>
  </div>
</div>


<div class="modal" id="cpassword">
  <div class="modal-dialog  modal-full    ">
    <div class="modal-content">
      <div class="row">
        <div class="col s12 l12 m12 error_msg" *ngIf="pwdsucess != null">
          <div class="green-text right">
            {{pwdsucess}}
          </div>
        </div>
        <div class="col s12 l12 m12 error_msg" *ngIf="pwderror != null">
          <div class="red-text right">
            {{pwderror}}
          </div>
        </div>
      </div>
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <form (ngSubmit)="changePassword()">
          <div class="form-group">
            <label for="fname" class="">Current Password</label><span class="text-danger">*</span>
            <input type="password" class="form-control form_control_m" id="cpwd" name="cpwd" [(ngModel)]="cpwd"
              placeholder="enter your Current Password">
          </div>

          <div class="form-group">
            <label for="fname" class="">Password</label><span class="text-danger">*</span>
            <input type="password" name="npwd" [(ngModel)]="npwd" class="form-control form_control_m" id="purpose"
              placeholder="Enter your New password .">
          </div>

          <div class="form-group">
            <label for="fname" class="">Confirm Password</label><span class="text-danger">*</span>
            <input type="password" name="confirmpwd" [(ngModel)]="confirmpwd" class="form-control form_control_m"
              id="purpose" placeholder="Enter your New password .">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-success w-100" value="Login" />
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->